<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<title>{$title}</title>
	<style>
.warpa{
	max-width: 750px;
	margin: 0 auto;
	background: #ffffff;
	/* display: none; */
}
.gqewm{
	width:7.8rem;
	height:auto;
	margin:0 auto;
	margin-top:.3rem;
	padding-top: 50%;
}
.gqewm img{
	width:100%;
	height:100%;
	display:block;
}
span{
	display: block;
	text-align: center;
	font-size:1rem;
	color:#818181;
	padding-top: 2rem;
}
</style>
</head>
<body>
	
	<div class="warpa">
        	<p class="gqewm"><img src="{$publicserver}/public/activity/images/prompt.png" alt="" /></p>
        	<p><span>{$msg}</span></p>
        	{$gz}
    </div>
</body>
</html>