{include file="collection/collection_header.html"}
<div id="pageCss" style="display:none">
	<div file-src="{$publicserver}/public/collection/css/GlobalSetting2.css"></div>
	<div file-src="{$publicserver}/public/collection/css/CollectionManagement.css"></div>
</div>
<div class="GlobalSetting2">
                <div class="CollectionAll">
                    <!--收集项管理标题栏 开始-->
                    <div class="Collection_UP">
                        <p>权限设置</p>
                    </div>
                    <!--收集项管理标题栏 结束-->
                    <!--收集项管理结果栏 开始-->
                    <div class="Collection_Down_QXSZ_BD" style="height: 124px;">
                        <form id="adminAddForm">
                            <div class="form_Ipt">
                                <div class="QXSZ_BD_M QXSZ_BD_M_1">
                                    <label for="name">账号：</label>
                                    <input id="email" name="email" placeholder="请输入账号" type="text">
                                   <!-- <span><a href="javascript:void(0);" style="color:#00ba97;">邮箱检测</a></span>-->
                                </div>
                                 <div class="QXSZ_BD_M QXSZ_BD_M_2" id="schoolDiv">
                                    <label for="school">所属学校：</label>
                                    <select name="school" id="school" {if !$enableSelectSchool}disabled{/if} onchange="getSchoolDept();">
                                        <option value="0">请选择</option>
                                        {foreach from=$schools key=key item=item}
		                                <optgroup label="{$key}">
		                                {foreach from=$item key=k item=i}
		                                	<option value="{$k}" {if $k eq $schoolId}selected{/if}>{$i}</option>
		                                {/foreach}
		                                </optgroup>
		                                {/foreach}
                                    </select>
                                </div>
                                <div class="QXSZ_BD_M QXSZ_BD_M_2">
                                    <label for="adminType">用户类别：</label>
                                    <select name="adminType" id="adminType" onchange="getSchoolDept();">
                                        <option value="0">请选择</option>
                                        {foreach from=$adminType key=key item=item}
                           				<option value="{$key}">{$item}</option>
                                		{/foreach}
                                    </select>
                                </div>
                                 <div class="QXSZ_BD_M QXSZ_BD_M_2" style="display:none;" id="deptDiv">
                                    <label for="school">所属部门：</label>
                                    <select name="dept" id="dept" {if !$enableSelectDept}disabled{/if}>
                                        <option value="0">请选择</option>
                                        {foreach from=$deptAdmin item=item}
		                                	<option value="{$item.id}" {if $item.selected}selected{/if}>{$item.email}-{$item.department}</option>
		                                {/foreach}
                                    </select>
                                </div>
                               <div class="QXSZ_BD_M QXSZ_BD_M_2" style="display:none;" id="cityDiv">
                                    <label for="school">所属城市：</label>
                                    <select name="cityId" id="cityId">
                                        <option value="0">请选择</option>
                                        {foreach from=$citys key=key item=item}
                                        	<optgroup label="{$key}">
		                                	{foreach from=$item key=k item=i}
			                                	<option value="{$k}" {if $k eq $schId}selected{/if}>{$i}</option>
			                                {/foreach}
			                                </optgroup>
		                                {/foreach}
                                    </select>
                                    <div style="padding-left:110px;clear:both;color:red;">
                                    		与行政区组件关联，选择后只能查看属于该城市的收集信息<br/>（仅支持泡泡少儿，非泡泡少儿请勿选择）
                                    </div>
                                </div>
                            </div>
                            <div class="form_KG">
                                <div  {if $coll_admin_isEnableImg eq 2} onclick="CollectionDialogBox.alert('您无权限设置该选项',{icon:4});" style="cursor: not-allowed;"{/if}>
                                    <span>图片上传:</span>
                                    <input id="enableImg" name="enableImg" class="choice-box_hind" type="checkbox"  {if $coll_admin_isEnableImg eq 2}disabled{/if}>
                                    <label class="slider-v1" for="enableImg"></label>
                                </div>
                                <div {if $coll_admin_isEnableatt eq 2} onclick="CollectionDialogBox.alert('您无权限设置该选项',{icon:4});" style="cursor: not-allowed;"{/if}>
                                    <span>附件上传:</span>
                                    <input id="enableAtt" name="enableAtt" class="choice-box_hind" type="checkbox" {if $coll_admin_isEnableatt eq 2}disabled{/if}>
                                    <label class="slider-v1" for="enableAtt"></label>
                                </div>
                            </div>
                            <div class="form_Btn">
                                <span class="form_Btn_BC" id="adminAdd">保存</span>
                                <span class="form_Btn_FH" id="back">返回</span>
                            </div>
                        </form>

                    </div>
                    <!--收集项管理结果栏 结束-->
                </div>
</div>
{include file="collection/collection_footer.html"}
<script type="text/javascript">
$(function(){
	$('#back').click(function(){
		window.location.href = '/collection/adminlist';
	});
});
var schoolSelectOption = $('#school option:selected');
var adminType = $('#adminType').val();
var optgroup = schoolSelectOption.parent();
if(optgroup.size() >0 && optgroup.attr('label') == 'JG' && adminType == 3)$('#cityDiv').show();
else $('#cityDiv').hide();
if(adminType == 4){
	$('#deptDiv').show();
}
$('#adminAdd').click(function(){
  var form = $('#adminAddForm');
  var email = $.trim(form.find('input[name=email]').val());
  if(email == ''){
  	CollectionDialogBox.alert('请输入管理员邮箱',{icon:4});
  	return false;
  };
  if(!GLOBAL.reg_email.test(email)){
  	CollectionDialogBox.alert('请输入正确的邮箱格式',{icon:4});
  	return false;
  }
  var adminType = form.find('select[name=adminType]').val();
  if(adminType == 0){
  	CollectionDialogBox.alert('请选择管理员类别',{icon:4});
  	return false;
  }
  var school = form.find('select[name=school]').val();
  if(!form.find('select[name=school]').prop('disabled')){
	  if(school == 0){
	  	CollectionDialogBox.alert('请选择管理员所属学校',{icon:4});
	  	return false;
	  }
  }
  var dept = form.find('select[name=dept]').val();
  if(!form.find('select[name=dept]').prop('disabled')){
	  if(adminType > 3){
		  if(dept == 0){
		  	CollectionDialogBox.alert('请选择管理员所属部门',{icon:4});
		  	return false;
		  }
	  }
  }
  var cityId = form.find('select[name=cityId]').val();
  var enableImg = 1;
  var enableImgCheckBox = form.find('input[name=enableImg]');
  if(!enableImgCheckBox.prop('checked'))enableImg = 2;
  var enableAtt = 1;
  var enableAttCheckBox = form.find('input[name=enableAtt]');
  if(!enableAttCheckBox.prop('checked'))enableAtt = 2;
  var params = {
  	email:email,
  	adminType:adminType,
  	school:school,
  	dept:dept,
  	cityId:cityId,
  	enableImg:enableImg,
  	enableAtt:enableAtt
  };
  console.log(params);
  var num = '';
  $.ajax({
  	url:"/collection/ajax_adminadd",
  	type:'POST',
  	dataType:'JSON',
  	data:params,
  	beforeSend:function(){
  		num = CollectionDialogBox.load(2,10);
  	},
  	success:function(data){
  		CollectionDialogBox.close(num);
  		if(data.result){
  			CollectionDialogBox.alert(data.message,{icon:6},function(){
  				window.location.href = '/collection/adminlist';
  		});
  		}else{
  			CollectionDialogBox.alert(data.message,{icon:5});
  		}
  	}
  });
});
function getSchoolDept(){
	var adminType = $('#adminAddForm').find('select[name=adminType]').val();
	var schoolSelectOption = $('#school option:selected');
	var optgroup = schoolSelectOption.parent();
	if(optgroup.size() >0 && optgroup.attr('label') == 'JG' && adminType == 3)$('#cityDiv').show();
	else $('#cityDiv').hide();
	if(adminType == 4){
		$('#deptDiv').show();
	}else{
		$('#deptDiv').hide();
	}
	var dept = $('#adminAddForm').find('select[name=dept]');
	if(!dept.prop('disabled')){//可以操作
		if(adminType == 4){
			var school = $('#adminAddForm').find('select[name=school]').val();
			if(school > 0){
				$.ajax({
					url:'/collection/ajax_getschooldept',
					type:'POST',
					dataType:'json',
					data:{sid:school},
					success:function(data){
						var str = "<option value='0'>请选择</option>";
						$.each(data,function(index,entry){
							str += "<option value='"+entry.id+"'>"+entry.email+'-'+entry.department+'</option>';
						});
						dept.empty().append(str);
					}
				});
			}
		}
	}
	  
}
</script>