<!--提示信息提示框-->
<div class="ModalFrame_WZBJ" id="ModalFrame_WZBJ">
    <div class="ModalFrameBox_WZBJ">
        <div class="ModalFrameBox1_WZBJ"><p>提示<span></span></p></div>
        <div class="ModalFrameBox2_WZBJ">
            <p><span>[姓名][手机] [自我介绍]</span>的提示文字没有编辑，会影响参与人员的查看。确定要发布吗？</p>
        </div>
        <div class="ModalFrameBox4_WZBJ"><span class="Confirm">确认</span><span class="ModalFrameBox4_span_WZBJ Cancel">取消</span></div>
    </div>
</div>

<!--提交成功提示框-->
<div class="ModalFrame_TJCG" id="ModalFrame_TJCG">
    <div class="ModalFrameBox_TJCG">
        <div class="ModalFrameBox1_TJCG"><p>提示<span></span></p></div>
        <div class="ModalFrameBox2_TJCG"></div>
        <div class="ModalFrameBox3_TJCG">
            <h4>提交成功</h4>
            <p>恭喜您，提交成功！<br>
                倒计时<span id="mes">3</span>秒后自动跳转下一页。</p>
        </div>
    </div>
</div>	
<div id="submitSuccessTip" style="display:none;">
	<div class="warp1" id="warp">						
				<p class="gouhao"><img src="{$publicserver}/public/collection/images/gouhao.png" alt="" /></p>
				<p class="tjcg" id="title">提交成功</p>
				<p class="tjcg a" id="successConent" style="display:none;"></p>
				<p class="tjcg a b" id="interval" style="display:none;">倒计时<span class="wait" id="second">3</span>秒后自动跳转下一页。</p>	
        </div>
</div>
<script>
//  验证码
	function getVerification(){
		if('{$phoneStatus}'=='0'){
			return false;
		}else{
			return true;
		}
	}

	{if $preview neq 1}
		getVerification()?$(".msgCodeWrap").css("display","block"):$(".msgCodeWrap").css("display","none");
	{/if}
	{if $preview eq 1}
		getVerification()?$(".msgCodeWrap").css("display","block"):$(".msgCodeWrap").css("display","none");
	{/if}
	var timeId;
	var curCount;
	var lastPhone=$("[name='mobile']").val()
	function getParams4Code(type,code,code3){
		var data=new Object();
		data.id='{$collection.aid}';
		data.name='{$collection.title}';
		getVerification() ? data.verification='7' : data.verification='12';
		data.status=type;
		data.code=code;
		data.code3=code3;
		var phone=$("[name='mobile']").val()
		if(!phone){
			layer.msg('手机号不能为空!');
			return false;
		}else{
			if(!mobilereg.test(phone)) {
				layer.msg('手机号无效');
				return false;
			}
			data.phone=phone;
		}
		return data;
	}
	// 发送验证码
	$(".validatebtn").on('click',function(){
		var data=getParams4Code("1","","")
		if(!data) return;
		getValidate(data,function(obj){
			if(!obj){
				return;
			}
			var {code,msg,code}=JSON.parse(obj);
			if(code==200 || code == 201){
				layer.msg('发送短信验证码成功,请及时填写');
				$("#graphCodeWrap").addClass("graphCodeWrap")
			}else if(code == '-1009'){
				var data=getParams4Code("3","","")
				if(!data) return;
				$("#graphCodeWrap").removeClass("graphCodeWrap")
				var url="ajax_collectionverifymobile?status=3&phone="+data.phone+"&verification="+data.verification+"&name="+data.name+"&id="+data.id+"&time="+new Date().getTime();
				$("#graphCodeWrap img").attr("src",url)
			}else{
				layer.msg(msg)
				$("#graphCodeWrap").addClass("graphCodeWrap")
			}
		})

		curCount= 60;
		$(".validatebtn").attr("disabled","true");
		$(".validatebtn").val(curCount+"s后重新发送");
		$(".validatebtn").addClass("unactive")

		clearInterval(timeId);
		timeId = setInterval(remainTime, 1000);  
	
	})
	// 获取图像验证码
	$("#graphCodeWrap img").on('click',function(){
		var data=getParams4Code("3","","")
		if(!data) return;
		var url="ajax_collectionverifymobile?status=3&phone="+data.phone+"&verification="+data.verification+"&name="+data.name+"&id="+data.id+"&time="+new Date().getTime();;
		$("#graphCodeWrap img").attr("src",url)
	})
	
	
	function getValidate(data,callback){
		$.get("ajax_collectionverifymobile",data).success(function(obj){callback(obj)});
	}
	//timer处理函数  
    function remainTime() {        
        if (curCount == 1) {                 
	        window.clearInterval(timeId);
	        $(".validatebtn").removeAttr("disabled");
	        $(".validatebtn").val("重新获取验证码");
			$(".validatebtn").removeClass("unactive")
	    } else{
			curCount--;  
	        $(".validatebtn").val(curCount + "秒后重新获取");
		}   
    }  
	
</script>
<script type="text/javascript">
    	const imgFile = {};
  		//email //mobile
		var mobilereg=/^[1][3,4,5,6,7,8][0-9]{9}$/;
		var emailreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;

		var mbox=new msgbox();
    
		$('#removeImgTxt').click(function(e){
			$('#previewImg').css("background","url() no-repeat");
         	$('#previewImg').css("background-size","100% 100%");
         	$('#removeImg').css("display","none");
         	$('#uploadImg').css("display","block");
         	$('#image').val('');
         	$('#{$item.aux}').val('');
		 });
		
		
		$("#hobby,#hobby1,#hobby2").click(function(){
         	$(".tc.b").show();
         	$(".tc_a.b").animate({"bottom":"0"},300,function(){})
         	
         });
         
         $(".qx,.qd").click(function(){                  	
         	$(".tc_a.b").animate({"bottom":"-100%"},600,function(){         		
         		$(".tc.b").hide();
         	});                  	
         });
                           
         $('.dxk li').click(function(e){
	   		 $(this).addClass('active');
		 });
            
         $('.xj_zs span').click(function(e){
        	 var score=parseInt($(this).attr("alt"))+1;
        	 var base=co=cn="";
        	 base=$(this).attr('class').replace("_light","");
        	 base=base.replace(" active-state","");
        	 $(this).removeClass(base);
        	 $(this).removeClass(base+"_light");
        	 $(this).addClass(base+"_light");
        	 
			 $(this).prevAll().removeClass(base);
			 $(this).prevAll().removeClass(base+"_light");
			 $(this).prevAll().addClass(base+"_light");
			 
			 $(this).nextAll().removeClass(base);
			 $(this).nextAll().removeClass(base+"_light");
			 $(this).nextAll().addClass(base);
			 
			 $("#"+$(this).attr("for")).val(score);
        	 /*
        	 $(".xj_zs span").each(function(){
        		 var index=parseInt($(this).attr("alt"));
        		 
        		 if(index<=score){
        			 co=$(this).attr('class').replace("_light","");
        			 cn=co+"_light";
        			 $(this).removeClass(co);
        			 $(this).addClass(cn);
        			 
        		 }
        		 if(index>score){
        			 co=$(this).attr('class');
        			 cn=co.replace("_light","");
        			 $(this).removeClass(co);
        			 $(this).addClass(cn);
        		 }
        	 });
        	 alert(score+1);
        	 return score+1;
        	 */
		 });
         
{if $inputs}         
     	{foreach from = $inputs item=item}
     		{if $item.type eq 'checkbox'}
         
     		var {$item.name}limit=255;
     		if(parseInt('{$item.choiceNumber}')>0){
     			{$item.name}limit=parseInt('{$item.choiceNumber}');
     		}
     		
     		var obj=document.getElementsByName('{$item.name}');
     		
     		$('input[name="{$item.name}"]').click(function() {
     			if ( obj.length>1) {
     		    	 if ($("input[name='{$item.name}']:checked").length > {$item.name}limit) {//选中个数大于3
     		    	    layer.msg('{$item.label}限选'+{$item.name}limit+'项');
     		    		$(this).removeAttr("checked");
     		    	 } else {
     		    	}
     		    }
     		} );
     		
     	    $("#{$item.name}p").click(function(){
     	    	
     	    	$("#pop_{$item.name}").show();
     	     	$("#pop_{$item.name} .tc_a").animate({"bottom":"0px"},300,function(){})
     	     	
     	    });
     	    $("#pop_{$item.name} .qx").click(function(){  
     	    	$("#pop_{$item.name}").hide();
     	    });
     	    $("#pop_{$item.name} .qd").click(function(){  
     	    	
              	$("#pop_{$item.name} .tc_a").animate({"bottom":"-100%"},500,function(){    
              		var newv='';
              		$("#{$item.name}").val(newv);
              		$('ul#{$item.name}_dxk .checked').each(function(){
              			if($("#{$item.name}").val()==''){
              				$("#{$item.name}").val($(this).text());
              				$("#{$item.name}s").text($(this).text());
              			}else{
              				newv=$("#{$item.name}").val()+","+$(this).text();
              				$("#{$item.name}").val(newv);
              				$("#{$item.name}s").text(newv);
              			}
              		  });
              		$("#pop_{$item.name}").hide();
              	});                  	
              });
     	    $('#{$item.name}_dxk li').click(function(e){
     	    	
            	 if($(this).hasClass('checked')){
            		 $(this).removeClass('checked');
            	 }else{
            		 var num=$('ul#{$item.name}_dxk .checked').length;
            		 
            		 if({$item.name}limit>0  && num>={$item.name}limit){
            				layer.msg('{$item.label}限选'+{$item.name}limit+'项');
            				$(this).removeClass('checked');
             			return false;
            		 }else{
            			 
            			 $(this).addClass('checked');
            		 }
     	    	 }
            	 
     		 });
             
              {/if}
              
              {if $item.type eq 'image'  and  $preview neq 1}
              function handleInputChange (e) {
             	 var fileObj = document.getElementById("imgUploadBtn").files[0]; 
                  var url =  "ajax_collectionuploadimage?id={$collection.aid}"; 

                  var form = new FormData(); 
                  form.append("file", fileObj); 

                  xhr = new XMLHttpRequest();  
                  xhr.open("post", url, true);
                  xhr.onload = uploadComplete; 
                  xhr.send(form); //开始上传，发送form数据
              }
              function uploadComplete(evt) {
                  var data = JSON.parse(evt.target.responseText);
                  if(data.errno==0){
     	                	//$('#img_preview').attr("src","{$publicserver}/public/uploads/collection/"+result.data.path);
     	                	var bg="{$publicserver}/public/uploads/collection/"+data.data.path;
     	                	$('#previewImg').css("background","url("+bg+") no-repeat");
     	                	$('#previewImg').css("background-size","100% 100%");
     	                	$('#uploadImg').css("display","none");
     	                	$('#removeImg').css("display","block");
     	                	$('#image').val(data.data.path);
     	                	$('#{$item.aux}').val(data.data.path);
     	                	
     	                	
                  }else{
                 	 layer.msg(data.msg);
                  }
              }              
              {/if}
           {/foreach}
           {/if}
           
              
              {if $preview neq 1}
              $("#submitbtn").click(function(){
            	 var data=new Object();
             	 data.id='{$collection.aid}';
				  $("#submitbtn").attr("disabled",true);
             	 var agreed=$('#userlicense_check').prop("checked");
             	 if(!agreed){
             		//mbox.alert('请先同意用户服务条款!');
             		layer.msg('请先同意用户服务条款!');
             		$("#submitbtn").attr("disabled",false);	
             		return false;
             	 }
             	 
             	 {foreach from = $inputs item=item}
             	 {if $item.type eq 'checkbox'}	
             		var arr = new Array();
             		var {$item.name}=$("*[name='{$item.name}']").val();
             		var obj=document.getElementsByName('{$item.name}');
             		
             		if(obj.length>1){
	             		var s=''; 
	             	    for(var i=0; i<obj.length; i++){ 
	             	        if(obj[i].checked) arr.push(obj[i].value); 
	             	    } 
						{$item.name}=arr.join(",");
             		}
					
             	 {else}
	             	 {if $item.type eq 'radio'}
	     	 	 		var {$item.name}=  $("*[name='{$item.name}']:checked").val();
	     	 	 	 {else}
	     	 	 		var {$item.name}=  $("*[name='{$item.name}']").val();
	     	 	 	 {/if}
     	 	 	 {/if}
     	 	 	 {if $item.type eq 'image'}
     	 	 		var {$item.aux}=   $("*[name='{$item.aux}']").val();
     	 	 		data.{$item.aux}={$item.aux};
     	 	 	 {/if}
     	 	 	 
             	 	data.{$item.name}={$item.name};
             	 	if($("#image")!=undefined){
             	 		data.image=$("#image").val();
             	 	}
             	 	
             	 	{if $item.required and $item.type neq 'file'}
						if({$item.name}=='' || {$item.name}==undefined){
							layer.msg('{$item.label}'+'不能为空!');
							$("#submitbtn").attr("disabled",false);	
							return false;
						}
						if('{$item.name}'=='mobile'){
							if($(".msgCodeWrap").css("display")=="block" && $("#msgCode").val()==''){
								layer.msg('短信验证码不能为空!');
								$("#submitbtn").attr("disabled",false);	
								return  false;
							}
							if(!$("#graphCodeWrap").hasClass("graphCodeWrap") && $("#graphCode").val()==''){
									layer.msg('验证码不能为空!');
									$("#submitbtn").attr("disabled",false);	
									return false;
							}
						}
						{/if}
             	 		if('{$item.name}'=='mobile' && {$item.name}!=''){
                 	 		if(!mobilereg.test({$item.name})) {
                 				layer.msg('手机号无效');
                 				$("#submitbtn").attr("disabled",false);	
                 	         	return false;
                 	 		}
                 	     }
						 
                 	 	 if('{$item.name}'=='email'  && {$item.name}!=''){
                     	 		if(!emailreg.test({$item.name})) {
                     				layer.msg('邮箱无效');
                     				$("#submitbtn").attr("disabled",false);	
                 	         		return false;
                     	 		}
                 	     }
             		
             	 {/foreach}
             	 var scene_id = $('input[name=scene_id]').val();
             	 if(scene_id > 0)data.scene_id = scene_id;
				// 开启验证
				if(getVerification()){
					if($("[name='mobile']").attr('required')){
						doVerifyCode();
					}else if( $("[name='mobile']").val() ){
						if(!$("#msgCode").val()){
							layer.msg('请填写短信验证码');
							$("#submitbtn").attr("disabled",false);
							return false;
						}else{
							doVerifyCode();

						}
					}else{
						doSubmit(data);
					}
				}else{
					doSubmit(data);
				}
				function doVerifyCode(){
					var msgCode=$("#msgCode").val() ? $("#msgCode").val() : "1";
					var graphCode=$("#graphCode").val() ? $("#graphCode").val() : "1";
					var obj=getParams4Code("2",msgCode,graphCode)					// console.log(obj);
					$.post("ajax_collectionverifymobile",obj).success(function(res){
						if(!res){
							return;
						}
						var {code,msg}=JSON.parse(res)
						if(code ==201 || code == 200){
							doSubmit(data)
						}else{
							// 更新图形验证码
							if(!$("#graphCodeWrap").hasClass("graphCodeWrap")){
								var url="ajax_collectionverifymobile?status=3&phone="+obj.phone+"&verification="+obj.verification+"&name="+obj.name+"&id="+obj.id+"&time="+new Date().getTime();
								$("#graphCodeWrap img").attr("src",url)
							}
							$("#submitbtn").attr("disabled",false);	
							layer.msg(msg)
						}
					})
				}
             	function doSubmit(data){
					$.post("ajax_collectionsubmit",data).success(function(data){
             				
     			        	if(data.errno!=0){
     			        		$("#submitbtn").attr("disabled",false);	
     			        		layer.msg(data.msg);
     			        		//mbox.alert(data.msg)
     			        	}else{
     			        		//layer.msg(data.msg);
     			        		$('#content').val("");
     			        		$('#result').html("0");
     			        		
     			        		if(data.popupTitle != ''){
    			        			$('#title').empty().append(data.popupTitle);
    			        		}
    			        		if(data.popupContent != ''){
    			        			$('#successConent').empty().append(data.popupContent).show();
    			        		}
    			        		var submitSuccessTip = $('#submitSuccessTip').html();
    			        		$('.part1a').empty().append(submitSuccessTip);
     			        		
     			        		//mbox.confirm(data.msg,data.redirect);
     			        		//st('default',{session_id:data.clid});
     			        		
     			        		if(data.redirect !=undefined){
     			        			setTimeout(function() {
     			        				//st('default',{session_id:data.clid});
     			        				window.location.href=data.redirect;
     		                        },3000);
     			        		}else{
									//  document.getElementById("collectionform").reset();
									 document.getElementById("collectionform").reset()
     			        			
     			        			$('#previewImg').css("background","url('') no-repeat");
     	     	                	$('#uploadImg').css("display","block");
     	     	                	$('#removeImg').css("display","none");
     	     	                	$('#image').val('');
     	     	                	$('#{$item.aux}').val('');
     	     	                	window.location.reload();
     			        		}
     			        	}
     			        	
     			        	//$("#submitbtn").attr("disabled",false);	
                 });
				 }
               });
 {/if}      
	 </script>

 {if $pmc eq 1}     
<script type="text/javascript" src="{$publicserver}/public/collection/js/framework7.min.js"></script>
<script type="text/javascript" src="{$publicserver}/public/collection/js/district.js"></script>
<script type="text/javascript">
;(function(window,$,undefined){
function getProvince(regions){ {if $province eq ''} return regions['provincesArr']; {else} return new Array("{$province}");{/if} }
function getCity(regions,provinceName){return regions['provinces'][provinceName]['citiesArr'];}
function getArea(regions,provinceName,cityName){
	if(cityName==''){
		cityName=regions['provinces'][provinceName]['citiesArr'][0];
	}
	return regions['provinces'][provinceName]['cities'][cityName]['areasArr'];
	
}
var myApp=new Framework7();
var province=getProvince(regions),
{if $province eq '' and $city eq ''}
			city=getCity(regions,'北京市'),
			area=getArea(regions,'北京市','北京市');
{/if}
{if $province neq '' and $city eq ''}
		city=getCity(regions,'{$province}'),
		area=getArea(regions,'{$province}','');
{/if}

{if $province neq '' and $city neq ''}
			city=new Array('{$city}'),
			area=getArea(regions,'{$province}','{$city}');
{/if}	

var provinceSelect='{$province}';
var pickerLocation=myApp.picker({input:'#location',rotateEffect:true,toolbarTemplate:'<div class="toolbar">\
                            <div class="toolbar-inner">\
                                <div class="left">\
                                 </div>\
                                <div class="right">\
                                    <a href="#" class="link close-picker">完成</a>\
                                </div>\
                            </div>\
                        </div>',cols:[{cssClass:'f-s-14',width:'33.33%',textAlign:'left',values:province,
                        	onChange:function(picker,province){if(picker.cols[1].replaceValues){provinceSelect=province;city=getCity(regions,province);area=getArea(regions,province,city[0]);picker.cols[1].replaceValues(city);if(area.length!==0){picker.cols[2].replaceValues(area);}else{picker.cols[2].replaceValues(city);}}}},{cssClass:'f-s-14',width:'33.33%',textAlign:'center',values:city,onChange:function(picker,city){if(picker.cols[2].replaceValues){area=getArea(regions,provinceSelect,city);if(area.length!==0){picker.cols[2].replaceValues(area);}else{picker.cols[2].replaceValues([city]);}}}},{cssClass:'f-s-14',width:'33.33%',textAlign:'right',values:area,}]});})(window,jQuery);

</script>
{/if}

