{include file="collection/collection_header.html"}
<div class="GlobalSetting3">
                 <div class="sectionr">
                   <!--我的收集项-->
                   <div class="rc_sjx">
                   	  <p class="rc_wdsjx floatL clear">新建收集项流程</p>
                   	  
                   </div>
                   <!--我的收集项-->
                   
                   <div class="stepz">
                   	   <!--step1-->
	                   <div class="step1">
	                    <div class="kqsjx">
	                    	<img src="{$publicserver}/public/collection/images/yygj3/step1.png" alt="" class="step1_img">
	                    	<span class="y3_span">点击<a href="new"><img src="{$publicserver}/public/collection/images/yygj3/xztb.png" alt="" class="xztb">新建收集项</a>开启创建收集项之旅</span>
	                    </div>
	                    <p class="step1_jj">首先完善收集项基本信息并根据应用场景选择模板，目前支持微信、专题和问卷模板。您可以点击模板进行预览。
	                    采集时间是必填项，如果采集的时间较长，例如校园开放日，可以将截止时间设置久远一些！
	                    </p>
	                    <p class="datu1"><img src="{$publicserver}/public/collection/images/yygj3/datu1.jpg" alt=""></p>
	                   </div>
                       <!--step1-->
                       
                       <!--step2-->
                       <div class="step1">
	                       	<div class="kqsjx a">
		                    	<img src="{$publicserver}/public/collection/images/yygj3/step2.png" alt="" class="step1_img">
		                    	<span class="y3_span">进入收集项编辑界面，编辑用于采集用户信息的组件</span>
		                    </div>
		                    <p class="step1_jj">这里有一些可以直接拿来就用的联系人组件，用于收集用户的信息。
		                    	如果联系人组件不能满足你的需求，可以利用基础类组件来自定义你想要的采集组件。<br>
		                   		 在这一步要注意的是不要忘记了完善全局设置，因为反馈提醒、数据推送、关键词统计等重要工具都在这里设置呦~
		                    </p>
		                    <p class="datu1 a"><img src="{$publicserver}/public/collection/images/yygj3/datu2.jpg" alt=""></p>
                       </div>
                       <!--step2-->
                       
                       <!--step3-->
                       <div class="step1">
	                       	<div class="kqsjx b">
		                    	<img src="{$publicserver}/public/collection/images/yygj3/step3.jpg" alt="" class="step1_img">
		                    	<span class="y3_span">上一步点击保存之后，进入这个页面来管理我们创建的收集项</span>
		                    </div>
		                    <p class="step1_jj">当确认你编辑的收集项没有问题之后，就可以发布收集项啦~   
		                    	发布之后就等着查看采集到的用户反馈吧，还可以了解数据的变化趋势呦。
		                    </p>
		                    <p class="datu1 a"><img src="{$publicserver}/public/collection/images/yygj3/datu3.jpg" alt=""></p>
                       </div>
                       <!--step3-->
                       
                       <div class="y3_cjsjx">
                       	 <p class="dljl"><img src="{$publicserver}/public/collection/images/yygj3/dljl.png" alt=""></p>
                       	 <p class="y3_hcsjx"><a href="new"><img src="{$publicserver}/public/collection/images/yygj3/xztb.png" alt="" class="xztb">新建收集项</a></p>
                       </div>
                   </div>
                 
                  
                  
                  
                
                   
            	 </div>
</div>
{include file="collection/collection_footer.html"}