<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta itemprop="name" content="123"/>
    <meta itemprop="description" name="description"  content="321"/>
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="{$publicserver}/public/gouke/app/style/style.css">
  
</head>
<body style="background:url({$publicserver}/public/gouke/app/images/msg_bg.jpg);background-size: cover;">

<div style="text-align:center;color:red;font-size:1.5rem;height:50px;width:300px;margin:auto;margin-top:5rem;">
    {$msg}
</div>

</body>
</html>