{include file="xshow/xshow_header.html"}
<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

  <div class="row-fluid">

					<div class="span12 blog-page">

						<!-- BEGIN STYLE CUSTOMIZER --><!-- END BEGIN STYLE CUSTOMIZER -->  

						<h4 class="page-title">

							{if $role_id ==1}管理员{else}用户{/if}管理

					  </h4>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="/xshow/index">管理首页</a> 

								<span class="icon-angle-right"></span>

							</li>

							<li>

								<a href="javascript:void(0);">{if $role_id ==1}管理员{else}用户{/if}管理</a>

								<span class="icon-angle-right"></span>

							</li>

							<li><a href="/xshow/adminlist">{if $role_id ==1}管理员{else}用户{/if}管理</a></li>

						</ul>

	</div>

				</div>

				<!-- END PAGE HEADER-->
                
           
               <div class="tabbable tabbable-custom tabbable-full-width">
							<ul class="nav nav-tabs">
			 <li class="{$ui.sys_admin}"> <a href="/xshow/adminlist"> {if $role_id ==1}管理员{else}用户{/if}管理</a> </li>
		        <li class="{$ui.sys_add}"> <a href="/xshow/adminadd"> 添加{if $role_id ==1}管理员{else}用户{/if}</a> </li>
                        </ul>
                        
                        </br>			
			<form class="login-form" action="" method="GET" id="search_user">
				邮箱&nbsp;&nbsp;&nbsp;&nbsp; 
				<input type="text" name="email" id="email"  value="{$email}"  placeholder="请输入用户邮箱"/>
				{if $role_id ==1}
				&nbsp;&nbsp;类别 
				<select class="form-control" id="role_id">
				<option value="0">请选择</option>
				{foreach from=$roles key=k item=item}
				<option value="{$k}" {if $k==$role}selected{/if}>{$item}</option>
				{/foreach}
				</select>
				{/if}
				&nbsp&nbsp&nbsp <input type="button" id="button" value="搜索" class="btn btn-default">
			</form>   
                </div>
           
           

										<div class="portlet-body form ">
                                        
                                        
                                         {foreach from=$select item='user'}
                                        


									<div class="media-body">


										<hr>

										<!-- Nested media object -->

										<div class="media">


											<div class="media-body">

												<h4 class="media-heading">
													用户ID：<strong class="text-error">{$user.userid_int}</strong>   登陆名：<strong class="text-error"><span class="user_email">{$user.email_varchar}</span></strong>
													<span  class="pull-right">
														{if ($role_id eq 1 || $user.role_id eq 3) && 1 neq $user.role_id}
														
														{if $user['status_int'] eq "1"}
														<a href="javascript:void(0);" class="btn black" onclick="setUserStatus($(this),{$user.userid_int},{$user.status_int});"><i class="icon-remove icon-red"></i>  停用</a>
														<a href="javascript:void(0);" class="btn black" onclick="delUser($(this),{$user.userid_int});"><i class="icon-remove icon-white"></i>  删除</a>
														{elseif $user['status_int'] eq "2"}
														<a href="javascript:void(0);" class="btn black" onclick="setUserStatus($(this),{$user.userid_int},{$user.status_int});"><i class="icon-remove icon-green"></i>  恢复</a>
														<a href="javascript:void(0);" class="btn black" onclick="delUser($(this),{$user.userid_int});"><i class="icon-remove icon-white"></i>  删除</a>
														{elseif $user['status_int'] == 3}
														<span class="btn red"><i class="icon-remove icon-white"></i>已删除</span>
														{/if}
														{/if}
													</span>
													<span>
														状态：
														{if $user['status_int'] eq "1"}
														正常
														{elseif $user['status_int'] eq "2"}
														<font color="red">停用</font>
														{elseif $user['status_int'] eq "3"}
														<font color="red">删除</font>
														{/if}
													</span>
												</h4>
												<p>角色：<span class="user_role">{$roles.$user.role_id}</span></p>
										  </div>

									  </div>

										<!--end media-->

									
										<!--end media-->

									</div>
											<!-- END FORM-->  
    {/foreach}
    <hr />
    					<!-- BEGIN PAGE CONTENT-->
    					
                   <div class="pagination pagination-right">

							<div class="pages">
                            
                           
                              {$page}

						
							</div>

						</div>
									</div>

								</div>

							</div>

				


			</div></div>
{include file="xshow/xshow_footer.html"}
<script type="text/javascript">
function setUserStatus(obj,userid_int,status_int){
	var h4 = obj.parent().parent();
	var h4NextP = h4.next();
	var email = h4.find('.user_email').text();
	var roleName = h4NextP.find('.user_role').text();
	var msg = "您确认要"+(status_int==1?'停用':'恢复')+roleName+"["+email+"]吗?";
	layer.confirm(msg,{icon:3},function(index){
		$.ajax({
			url:'/xshow/ajax_setuserstatus',
			type:'POST',
			dataType:'json',
			data:{id:userid_int},
			beforeSend:function(){
				layer.load(2, {time: 10*1000});
			},
			success:function(data){
				if(data.code == 2){
					layer.alert(data.msg,{icon:6},function(index){
						layer.close(index);
						window.location.href = '/operation/logout';
					});
				}else if(data.code == 1){
					layer.alert(data.msg,{icon:6},function(index){
						layer.close(index);
						window.location.reload();
					});
				}else{
					layer.alert(data.msg,{icon:5});
				}
			}
		});
	});
}
function delUser(obj,userid_int){
		var h4 = obj.parent().parent();
	var h4NextP = h4.next();
	var email = h4.find('.user_email').text();
	var roleName = h4NextP.find('.user_role').text();
	var msg = "您确认要删除"+roleName+"["+email+"]吗?";
	layer.confirm(msg,{icon:3},function(index){
		$.ajax({
			url:'/xshow/ajax_userdelete',
			type:'POST',
			dataType:'json',
			data:{id:userid_int},
			beforeSend:function(){
				layer.load(2, {time: 10*1000});
			},
			success:function(data){
				if(data.code == 2){
					layer.alert(data.msg,{icon:6},function(index){
						layer.close(index);
						window.location.href = '/operation/logout';
					});
				}else if(data.code == 1){
					layer.alert(data.msg,{icon:6},function(index){
						layer.close(index);
						window.location.reload();
					});
				}else{
					layer.alert(data.msg,{icon:5});
				}
			}
		});
	});
}
jQuery(function(){
	jQuery('#button').click(function(){
		var url = '/xshow/adminlist';
		var email = jQuery('#email').val();
		var params = [];
		if(email != ''){
			if(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@xdf\.cn$/.test(email)){
				params.push('email='+email);
			}else{
				layer.alert('请输入正确的公司的邮箱',{icon:5});
				return false;	
			}
	    }
		var role_obj = jQuery('#role_id');
		if(role_obj.length > 0){
			role_id = role_obj.val();
			if(role_id>0){
				params.push('r='+role_id); 	
			}
		}
		if(params.length > 0){
			url += '?'+params.join('&');
		}
		window.location.href = url;
	});
});
</script>
