<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="" />
    	<title>新东方秀</title>
    <meta name="keywords" content="" />
    <meta id="metaDescription" name="description" content="{$confinfo2.title}" />
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 2017 08:21:57 GMT">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta name="viewport" id="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  	<link rel="stylesheet" href="{$publicserver}/public/xshow/view/css/eqShow-2.1.5.3.css"/>
    <script> 
    var  your_demain='{$site_url}';
    var  your_webname='{$site_name}';
    var  logo_url='{$site_name}';
    var  lastpagelink='{$lastpagelink}';
	var lastpagetext_color='{$lastpagetext_color}';
    var  lastpagetext='{$lastpagetext}';
	var jubao_link='{$jubao_link}';
   </script>
</head>
<body>

<div id="ppitest" style="width:1in;visible:hidden;padding:0px"></div>
<div class="p-index main phoneBox" id="con" style="display: none;">
    <div class="top"></div>
    <div class="phone_menubar"></div>
    <div class="scene_title_baner" style="display: none">
        <div class="scene_title">{$confinfo2.title}</div>
    </div>
    <div class="nr" id="nr">
        <div id="audio_btn" class="off">
            <div id="yinfu"></div>
            <audio loop src="" id="media" autoplay="" preload></audio>
        </div>
        <!--div id="loading" class="loading">
            <div class="loadbox">
                <div class="loadlogo" style="background-image: url('{$publicserver}/public//uploads/xshow/{if $sceneinfo.loadinglogo}{$sceneinfo.loadinglogo}{else}{$confinfo2.imgsrc}{/if}');"></div>
                <div class="loadbg" ></div>
            </div>
        </div -->
    </div>
    <div class="bottom"></div>
</div>

</body>

    <script src="{$publicserver}/public/xshow/css/waiwan/jquery.min.js"></script>
<script >
 (function (window, $) {
    window.PREFIX_URL = "http://{$domain}/xshow/";
    window.PREFIX_S1_URL =  "http://{$domain}/xshow/";
    window.PREFIX_S2_URL ="http://{$domain}/xshow/";
	window.PREFIX_S6_URL ="http://{$domain}/xshow/";
    window.PREFIX_HOST = "http://{$domain}/xshow/";
    window.PREFIX_HOST1 = "http://{$domain}/xshow/";
	window.PREFIX_SHOW_HOST = "http://{$domain}/xshow/";
	window.TRACK_HOST = "http://{$domain}/public/xshow/view/js/";
    window.PREFIX_FILE_HOST = "{$publicserver}/public/uploads/xshow/";
	window.PREFIX_COMPANY_HOST_ARRAY = [
	                                    "http://{$domain}",
	                                	"http://{$domain}"
	                                  ];
	window.OLD_FILE_HOST="http://{$domain}/xshow/";
    window.CLIENT_CDN ="{$publicserver}/public/xshow/";
    window.clientWidth = document.documentElement.clientWidth;
    window.clientHeight = document.documentElement.clientHeight;    
	window.PREFIX_HOST_ARRAY = [
	                            "http://{$domain}",
	                        	"http://{$domain}"
		];
	window.SCENEID="{$sceneinfo.pageid_bigint}";
	window.SCENENAME = "{$sceneinfo.pagename_varchar}";
	window.SCENEURL="{$confinfo2.url}";
	window.SCENEPAGEPARAM="{$scenepageparam}";
})(window, jQuery)
</script>
 <script type="text/javascript" src="{$publicserver}/public/xshow/view/scenePage-preview.js"></script>
   
<script>
 
	var scene = {id:'{$confinfo2.workid}',code:'{$sceneinfo.scenecode_varchar}',name:'{$sceneinfo.scenename_varchar}',pageMode:"{$sceneinfo.movietype_int}",cover:"{$sceneinfo.cover}",property:{$sceneinfo.property}};
	 eqShow.bootstrap();
	 	   (function () {
        function isMobile() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Mobi/i.test(navigator.userAgent) ||
                    window.innerWidth < 500;
        }

        function setScale() {
            if (window.top !== window) {
                return;
            }
            var pageScale = 1;

            var width = document.documentElement.clientWidth || 320;
            var height = document.documentElement.clientHeight || 486;


            if (width / height >= 320 / 486) {
                pageScale = height / 486;
            } else {
                pageScale = width / 320;
            }
             console.log('screen.width', width, 'screen.height', height, 'setScale', pageScale);
            // meta
            var content = 'width=320, initial-scale=' + pageScale + ', maximum-scale=' + pageScale + ', user-scalable=no';
            document.getElementById('viewport').setAttribute('content', content);
        }
        
        if (isMobile()) {
            setScale();
        }

    })();
</script>
</html>