<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>发布管理平台</title>
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/core.css">
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/p176.css">
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/index.css">
    <script src="{$publicserver}/public/chouke/js/common/jquery-1.11.0.min.js"></script>
    <script src="{$publicserver}/public/chouke/js/common/p176.js"></script>
    <script src="{$publicserver}/public/chouke/js/common/jqPaginator.min.js"></script>
	<script type="text/javascript">
		var PREFIX_URL = "http://{$domain}/chouke/";
		var PREFIX_PUBLIC_URL = "{$publicserver}/public/chouke/";
		var Global = {
			    actionURL:PREFIX_URL+"ajax_service",
			    previewURL:PREFIX_URL+"appindexpre?channel=Wechat&activityId=",
			    previewURL_new:PREFIX_URL+"raiseclassnewpre?activityId=",
			    baseUploadPath:"",//http://xshow.xdf.cn/chouke/
			    cartID:"opt",
			    buyDomain:"http://bm.xdf.cn"//正式
		};
	</script>
    <script src="{$publicserver}/public/chouke/js/busiJs/market.js"></script>
    <script src="{$publicserver}/public/chouke/js/util.js"></script>
    <script src="{$publicserver}/public/chouke/js/busiJs/analyse.js"></script>
    <script src="{$publicserver}/public/chouke/js/loginStatus.js"></script>
</head>
<body onload="initMainPage('401');initCkTotal()">
<input type="text" id="loginId" hidden>
<input type="text" id="userId" hidden>
<input type="text" id="tokenId" hidden>
<input type="text" id="schoolIdFinal" hidden>
<input type="text" id="areaIdFinal" hidden>
<input type="text" id="deptIdFinal" hidden>
<!-- <div class="p176-nav clearfix">
    <div class="p176-logo-left"><a href="#" class="p176-logo">发布管理平台</a></div>
<div class="p176-nav-left" id="schoolAuthority" style="display: none">
        <ul>
            <li class="dropdown js-ads-drop">
                <a href="#" id="schoolName1" hidden>城市<i class="dropdown-white"></i></a>
                <ul class="b-sub-menu" id="schoolName"></ul>
            </li>
            <li class="dropdown js-area-drop">
                <a href="#" hidden id="areaName1">校区<i class="dropdown-white"></i></a>
                <ul class="a-sub-menu" id="areaName"></ul>
            </li>
            <li class="dropdown js-item-drop">
                <a href="#" hidden id="deptName1">部门<i class="dropdown-white"></i></a>
                <ul class="p-sub-menu" id="deptName"></ul>
            </li>
        </ul>
    </div>
    <div class="p176-nav-right">
        <ul>
            <li>
                <a href="#" class="p176-nav-usename js-userName"></a>
                <div class="p176-usename-menu js-userName-menu" style="z-index: 1000;">
                    <ul>
                        <li><a href="#" onclick="toLogout('91411a1a05fd4571859044ed18892ac1')" class="">退出登录</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div> -->
<div class="p176-wrap-all">
    <div class="p176-mainWrap">
        <div class="p176-main">
            <div class="inner">

                <div class="xdf_special_title" id="tabs">
                    <ul id="xdf_recommend">
                        <li class="xdf_border"><a href="javascript:void(0);" onclick="changeCkTotalCenter(1)">筹课抽奖</a></li>
                        <li><a href="javascript:void(0);" onclick="changeCkTotalCenter(2)">筹课</a></li>
                        <li style="display: none;"><a href="javascript:void(0);" onclick="changeCkTotalCenter(3)">点赞</a></li>
                    </ul>
                </div>
                <!--search-->
                <div class="xdf_special_search">
                    <span>
                        <form action="javascript:search();">
						<button></button>
						<input type="search" id="nameText" placeholder="请输入已发筹课名称搜索" />
                         </form>
                    </span>
                    <input type="button" value="搜索" onclick="search()" class="search"/>
                </div>
                <div class="clearfix"></div>
                <!--分类-->
                <div class="hot-classes">
                    <ul class="list1">
                        <li>
                            <span class="tit">地区：</span>
                            <span class="xian-wid">
                            </span>
                            <span>
                                <em class="open">展开<i class="ico-open"></i></em>
                                <em class="shou">收起<i class="ico-shou"></i></em>
                            </span>
                        </li>
                        <li>
                            <span class="tit">校区：</span>
                            <span class="xian-wid2">
                            </span>
                            <span>
                                <em class="open2">展开<i class="ico-open"></i></em>
                                <em class="shou2">收起<i class="ico-shou"></i></em>
                            </span>
                        </li>
                        <li class="last">
                            <span class="tit">部门：</span>
                            <span class="xian-wid3">
                            </span>
                            <span>
                                <em class="open3">展开<i class="ico-open"></i></em>
                                <em class="shou3">收起<i class="ico-shou"></i></em>
                            </span>
                        </li>
                    </ul>
                    <div class="botton" id="m1"></div>
                </div>

                <div class="p176-total-wrap clearfix" id="ckcj" style="padding-top:30px;">
                    <dl class="p176-dl01">
                        <dt><img src="{$publicserver}/public/chouke/images/pepIcon.png" alt=""></dt>
                        <dd>
                            <h3>发起人数</h3>
                            <div class="p176-num"><span id="launchCount">0</span>
                                <a href="javascript:;">今日<em id="todayLaunchCount">+0</em></a>
                                <!--<div style="margin-left: 140px;margin-top:-40px"><a href="javascript:;">新/老<em id="newAndOldLaunchCount">0/0</em></a></div>-->
                                <!--<div style="margin-left: 140px;"><a href="javascript:;">今日<em id="todayNewAdnOldLaunchCount">+0/+0</em></a></div>-->
                            </div>
                            <h4 id="todayNewAdnOldLaunchCount">新&nbsp;2419/老&nbsp;2419<p>今日&nbsp;新+2419/老+2419</h4>
                        </dd>
                    </dl>
                    <dl class="p176-dl02">
                        <dt><img src="{$publicserver}/public/chouke/images/pep02Icon.png" alt=""></dt>
                        <dd>
                            <h3>帮筹人数</h3>
                            <div class="p176-num"><span id="helpCount">0</span>
                                <a href="javascript:;">今日<em id="todayHelpCount">+0</em></a>
                                <!--<div style="margin-left: 140px;margin-top:-40px"><a href="javascript:;">新/老<em id="newAndOldHelpCount">0/0</em></a></div>-->
                                <!--<div style="margin-left: 140px;"><a href="javascript:;">今日<em id="todayNewAndOldHelpCount">+0/+0</em></a></div>-->
                            </div>
                            <h4 id="todayNewAndOldHelpCount">新&nbsp;2419/老&nbsp;2419<p>今日&nbsp;新+2419/老+2419</h4>
                        </dd>
                    </dl>
                    <dl class="p176-dl03">
                        <dt><img src="{$publicserver}/public/chouke/images/heatIcon.png" alt=""></dt>
                        <dd>
                            <h3>转发次数</h3>
                            <div class="p176-num"><span id="forwardCount">0</span>
                                <a href="javascript:;">今日<em id="todayForwardCount">+0</em></a>
                                <!--<div style="margin-left: 140px;margin-top:-40px"><a href="javascript:;">新/老<em id="newAndOldForwardCount">0/0</em></a></div>-->
                                <!--<div style="margin-left: 140px;"><a href="javascript:;">今日<em id="todayNewAndForwardCount">+0/+0</em></a></div>-->
                            </div>
                            <h4 id="todayNewAndForwardCount">新&nbsp;2419/老&nbsp;2419<p>今日&nbsp;新+2419/老+2419</h4>
                        </dd>
                    </dl>
                    <!--<dl class="p176-dl04">-->
                        <!--<dt><img src="../../images/ratioIcon.png" alt=""></dt>-->
                        <!--<dd>-->
                            <!--<h3>转化率</h3>-->
                            <!--<div class="p176-num"><span id="forwardPercent">0.00%</span></div>-->
                        <!--</dd>-->
                    <!--</dl>-->
                </div>
                <div class="p176-total-wrap clearfix" id="cknew" style="padding-top:30px;display: none">
                    <dl class="p176-dl01">
                        <dt><img src="{$publicserver}/public/chouke/images/pepIcon.png" alt=""></dt>
                        <dd>
                            <h3>发起人数</h3>
                            <div class="p176-num"><span id="launchCount2">0</span>
                                <a href="javascript:;">今日<em id="todayLaunchCount2">+0</em></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="p176-dl02">
                        <dt><img src="{$publicserver}/public/chouke/images/pep02Icon.png" alt=""></dt>
                        <dd>
                            <h3>帮筹人数</h3>
                            <div class="p176-num"><span id="helpCount2">0</span>
                                <a href="javascript:;">今日<em id="todayHelpCount2">+0</em></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="p176-dl03">
                        <dt><img src="{$publicserver}/public/chouke/images/heatIcon.png" alt=""></dt>
                        <dd>
                            <h3>转发次数</h3>
                            <div class="p176-num"><span id="forwardCount2">0</span>
                                <a href="javascript:;">今日<em id="todayForwardCount2">+0</em></a>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="p176-total-wrap clearfix" id="dianzan" style="padding-top:30px;display: none">
                    <dl class="p176-dl01">
                        <dt><img src="{$publicserver}/public/chouke/images/pepIcon.png" alt=""></dt>
                        <dd>
                            <h3>发起人数</h3>
                            <div class="p176-num"><span id="launchCount3">0</span>
                                <a href="javascript:;">今日<em id="todayLaunchCount3">+0</em></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="p176-dl02">
                        <dt><img src="{$publicserver}/public/chouke/images/pep02Icon.png" alt=""></dt>
                        <dd>
                            <h3>帮筹人数</h3>
                            <div class="p176-num"><span id="helpCount3">0</span>
                                <a href="javascript:;">今日<em id="todayHelpCount3">+0</em></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="p176-dl03">
                        <dt><img src="{$publicserver}/public/chouke/images/heatIcon.png" alt=""></dt>
                        <dd>
                            <h3>转发次数</h3>
                            <div class="p176-num"><span id="forwardCount3">0</span>
                                <a href="javascript:;">今日<em id="todayForwardCount3">+0</em></a>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="p176-table-wrap mtop50">
                    <div class="p176-btn-export" style="padding-top: 0px"><a href="javascript:exportExcel();" data-functionId="40101"><i
                            class="p176-btn-icon"></i>导出EXCEL
                        表格</a>
                    </div>
                    <table class="p176-table fz14">
                        <thead>
                        <tr id="ckTotalListHead">
                            <!--
                            <th style="width:20%;">已发筹课</th>
                            <th style="width:20%;">发布时间</th>
                            <th style="width:20%;">所属校区</th>
                            <th style="width:20%;">阅读</th>
                            <th style="width:10%;">参与用户</th>
                            <th style="width:10%;">发起总数</th>
                            <th style="width:10%;">帮筹总数</th>
                            <th style="width:10%;">转发</th>
                            -->
                        </tr>
                        </thead>
                        <tbody id="activity_tbody">
                        </tbody>
                    </table>
                    <div class="PublicPage" id="publicPage"></div>
                </div>
            </div>
        </div>
        <div class="p176-left">
            <div class="p176-leftmenu">
                <ul class="mtop10">

                </ul>
            </div>
        </div>
    </div>
</div>
<iframe name="saveIframe" style="display:none"></iframe>
</body>
</html>