<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>发布管理平台</title>
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/core.css">
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/p176.css">
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/index.css">
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/easyUi/easyui.css">
    <link rel="stylesheet" href="{$publicserver}/public/chouke/css/easyUi/icon.css">
    <script src="{$publicserver}/public/chouke/js/common/jquery-1.11.0.min.js"></script>
    <script src="{$publicserver}/public/chouke/js/layer-v2.1/layer/layer.js"></script>
    <script src="{$publicserver}/public/chouke/js/laydate-v1.1/laydate/laydate.js"></script>
    <script src="{$publicserver}/public/chouke/js/common/p131_plugins.js"></script>
    <script src="{$publicserver}/public/chouke/js/common/jquery-form.js"></script>
    <script src="{$publicserver}/public/chouke/js/common/jquery.easyui.min.js"></script>
    <script src="{$publicserver}/public/chouke/js/common/p176.js"></script>
    <script type="text/javascript">
		var PREFIX_URL = "http://{$domain}/chouke/";
		var PREFIX_PUBLIC_URL = "{$publicserver}/public/chouke/";
		var Global = {
			    actionURL:PREFIX_URL+"ajax_service",
			    previewURL:PREFIX_URL+"appindexpre?channel=Wechat&activityId=",
			    previewURL_new:PREFIX_URL+"raiseclassnewpre?activityId=",
			    baseUploadPath:"",//http://xshow.xdf.cn/chouke/
			    cartID:"opt",
			    buyDomain:"http://bm.xdf.cn"//正式
		};
	</script>
    <script src="{$publicserver}/public/chouke/js/busiJs/market.js"></script>
    <script src="{$publicserver}/public/chouke/js/util.js"></script>
    <script src="{$publicserver}/public/chouke/js/busiJs/uploadPreview.js"></script>
    <script src="{$publicserver}/public/chouke/js/busiJs/updateRaiseClass.js"></script>
    <script src="{$publicserver}/public/chouke/js/loginStatus.js"></script>
</head>
<body onload="initMainPage('102');isExistArea();init();">
<input type="text" id="loginId" hidden>
<input type="text" id="userId" hidden>
<input type="text" id="tokenId" hidden>
<input type="text" id="schoolIdFinal" hidden>
<input type="text" id="areaIdFinal" hidden>
<input type="text" id="deptIdFinal" hidden>
<input type="text" id="currentType" hidden>
<!-- <div class="p176-nav clearfix">
    <div class="p176-logo-left"><a href="#" class="p176-logo">发布管理平台</a></div>
    <div class="p176-nav-left" id="schoolAuthority" style="display: none">
        <ul>
            <li class="dropdown js-ads-drop">
                <a href="#" id="schoolName1" hidden>城市<i class="dropdown-white"></i></a>
                <ul class="b-sub-menu" id="schoolName"></ul>
            </li>
            <li class="dropdown js-area-drop">
                <a href="#" hidden id="areaName1">校区<i class="dropdown-white"></i></a>
                <ul class="a-sub-menu" id="areaName"></ul>
            </li>
            <li class="dropdown js-item-drop">
                <a href="#" hidden id="deptName1">部门<i class="dropdown-white"></i></a>
                <ul class="p-sub-menu" id="deptName"></ul>
            </li>
        </ul>
    </div>
    <div class="p176-nav-right">
        <ul>
            <li>
                <a href="#" class="p176-nav-usename js-userName"></a>
                <div class="p176-usename-menu js-userName-menu" style="z-index: 1000;">
                    <ul>
                        <li><a href="#" onclick="toLogout('91411a1a05fd4571859044ed18892ac1')" class="">退出登录</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div> -->
<div class="p176-wrap-all">
    <div class="p176-mainWrap" style="position:relative;width:100%;min-height:100%;">
        <div class="p176-main">
            <div class="inner">

                <input type="hidden" id="ckId">
                <input type="hidden" id="statusId">
                <!--第一阶段-->
                <div id="first">
                    <h2 class="p176-tit pdRight20 clearfix">
                        <span class="fz14"><a href="javascript:void(0);"onclick="createCk()">筹课平台 > </a>新建筹课信息</span>
                    </h2>
                    <div class="zzsc">
                        <a href='javascript:void(0);' class="thisclass">1</a>
                        <a href='javascript:void(0);'>2</a>
                    </div>
                    <div class="zzsc-word">
                        <span>设定课程信息</span>
                        <span>设定筹课规则</span>
                    </div>
                    <div class="qipao">
                        <b class="orgBotCor first">◆</b>
                        <p class="pClass"><img src="{$publicserver}/public/chouke/images/dp.jpg" />
                            通过设置班名及课程说明等基本信息来向用户展示都是怎么样的课程，让用户了解课程的基本情况，更有目的性的参与到活动中来。
                        </p>
                    </div>
                    <div class="p176-setInfo-wrap clearfix">
                        <div class="p176-setInfo-main mtop20 mLeft13">
                            <div class="p176-setInfoCon clearfix" style="margin-top:0;">
                                <div class="p176-Slabel">活动标题</div>
                                <div class="p176-Sfiled p176-SfiledWidth">
                                    <input type="text" class="p176-Sminput chouke-input" id="ckName"
                                           maxlength="12" onblur="validate(1, false)">
                                    <span class="p176-count01">
                                        <span id="explainInformCnt1">0</span>/<span id="explainMaxCnt2">12</span>
                                    </span>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-Slabel">班级编号</div>
                                <div class="p176-Sfiled">
                                    <input id="classNum" type="text" onchange="classValidateNum(1)" class="p176-Sminput"></div>
                                <div class="p176-Sbtn"><a href="javascript:;" onclick="classValidateNum(2)">校验班级编号</a></div>
                            </div>
                            <div class="p176-setInfoConadd clearfix" style="display: none" id="classInfo-div">
                                <div class="p176-setInfoConadd-money" id="courseAmount-div">课程金额:¥0</div>
                                <div class="p176-setInfoConadd-campus" id="learnPlace-div">参与校区:</div>
                                <div class="p176-setInfoConadd-time" id="learnTime-div">上课时间:</div>
                            </div>
                            <!--/////////////////////////////////////////////////////////////-->
                            <div style="display:inline-block">
                                <div style="float:left;"><input type="hidden" id="schoolId" placeholder="城市"></div>
                                <div style="float:left;"><input type="hidden" id="areaCode" placeholder="校区"></div>
                                <div style="float:left;"><input type="hidden" id="deptCode" placeholder="部门"></div>
                                <div style="float:left;"><input type="hidden" id="courseAmount" placeholder="课程金额"></div>
                                <div style="float:left;"><input type="hidden" id="classDate" placeholder="上课日期"></div>
                                <div style="float:left;"><input type="hidden" id="classTime" placeholder="上课时间"></div>
                                <div style="float:left;"><input type="hidden" id="classArea" placeholder="班级校区"></div>
                                <div style="float:left;"><input type="hidden" id="latitude" placeholder="校区纬度"></div>
                                <div style="float:left;"><input type="hidden" id="longitude" placeholder="校区经度"></div>
                            </div>
                            <!--////////////////////////////////////////////////////////////-->
                            <div class="p176-setInfoCon" style="margin-top:0;">
                                <div class="p176-Slabel">班级名称</div>
                                <div class="p176-Sfiled p176-SfiledWidth">
                                    <input type="text" class="p176-Sminput chouke-input" id="className"
                                           maxlength="20" onblur="validate(1, false)">
                                        <span class="p176-count01">
                                            <span id="explainInformCnt03">0</span>/<span id="explainMaxCnt04">20</span>
                                        </span>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix" style="margin-top:0;">
                                <div class="p176-Slabel">适用人群</div>
                                <div class="p176-Sfiled p176-SfiledWidth">
                                    <input type="text" class="p176-Sminput chouke-input" id="usefulPerson"
                                           maxlength="15" onblur="validate(1, false)">
                                    <span class="p176-count01">
                                        <span id="explainInformCnt3">0</span>/<span id="explainMaxCnt4">15</span>
                                    </span>
                                </div>
                            </div>
                            <div class="p176-setInfoCon">
                                <div class="p176-Slabel">筹课金额</div>
                                <div class="p176-Sfiled p176-SfiledWidth">
                                    <input type="text" class="p176-Sminput chouke-input" id="raiseMoney"
                                           maxlength="7" placeholder="课程要扣减的金额" onblur="validate(1,false)">
                                    <span class="p176-count01">
                                        <span id="explainInformCnt5">0</span>/<span id="explainMaxCnt6">7</span>
                                    </span>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-Slabel">官方客服</div>
                                <div class="p176-Sfiled p176-SfiledWidth">
                                    <input id="service" type="text" class="p176-Sminput chouke-input"
                                           maxlength="15" placeholder="可输入联系电话，QQ群号等，例，QQ:100000">
                                    <span class="p176-count" style="right:5px;bottom:4px;">
                                        <span id="explainServiceCntMin">0</span>/<span id="explainServiceCntMax">15</span>
                                    </span>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-Slabel">课程说明</div>
                                <div class="p176-Sfiled p176-SfiledWidth chou-wid-modify2">
                                    <textarea class="p176-textarea" id="ckIntroduce" onblur="validate(1, false)"></textarea>
                                        <span class="p176-count">
                                            <span id="explainInformCnt7">0</span>/<span id="explainMaxCnt8">200</span>
                                        </span>
                                </div>
                            </div>
                            <!--<div class="p176-setInfoCon clearfix">-->
                                <!--<div class="p176-Slabel">类别</div>-->
                                <!--<div class="p176-Sfiled p176-SfiledWidth">-->
                                    <!--<select id="careType" class="easyui-combotree p176-Sminput" placeholder="请选择类别"></select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-Slabel">筹课配图</div>
                                <div class="p176-Sfiled clearfix">
                                    <dl>
                                        <dt><img id="ckpt" src="{$publicserver}/public/chouke/images/upfile-icon.png" style="width:52px;height:52px;"
                                                 alt=""></dt>
                                        <dd>
                                            <p>APP筹课配图尺寸750*527</p>

                                            <form action='/chouke/uploadfile' method='post' id="submit-1"
                                                  enctype="multipart/form-data">
                                                <div class="uploader white">
                                                    <input type="text" class="filename"/>
                                                    <input type="file" name="file" id="first1" class="p176-uplodingBtn"/>
                                                    <input type="hidden" id="hidden1">
                                                    <input type="hidden" name="width" value="750">
                                                    <input type="hidden" name="height" value="527">
                                                </div>
                                                <div style="float:right;margin: 10px 0px;">
                                                    <input type="button" name="file" class="p176-uplodingBtn" value="上传"
                                                           id="up1"/>
                                                <span class="p176-count01">
                                                    <span id="m1" style="color:red"></span>
                                                </span>
                                                </div>
                                            </form>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="p176-Sfiled clearfix">
                                    <dl>
                                        <dd>
                                            <div class="p176-Slabel">公众号名称</div>
                                            <div class="p176-Sfiled">
                                                <input id="gzhname" type="text" class="p176-Sminput" placeholder="">
                                            </div>
                                        </dd>
                                    </dl>
                                </div>

                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-Slabel">转发小图</div>
                                <div class="p176-Sfiled clearfix">
                                    <dl>
                                        <dt><img id="wechatpt" src="{$publicserver}/public/chouke/images/upfile-icon.png" style="width:52px;height:52px;"
                                                 alt=""></dt>
                                        <dd>
                                            <p>微信转发小图尺寸180*180</p>

                                            <form action='/chouke/uploadfile' method='post' id="submit-2"
                                                  enctype="multipart/form-data">
                                                <div class="uploader white">
                                                    <input type="text" class="filename"/>
                                                    <input id="first2" type="file" name="file" class="p176-uplodingBtn"/>
                                                    <input type="hidden" id="hidden2">
                                                    <input type="hidden" name="width" value="180">
                                                    <input type="hidden" name="height" value="180">
                                                </div>
                                                <div style="float:right;margin: 10px 0px;">
                                                    <input type="button" name="file" class="p176-uplodingBtn" value="上传"
                                                           id="up2"/>
                                                <span class="p176-count01">
                                                    <span id="m2" style="color:red"></span>
                                                </span>
                                                </div>
                                            </form>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="p176-Sfiled clearfix">
                                    <div class="p176-Slabel">公众号二维码</div>
                                    <div class="p176-Sfiled clearfix" style="margin-left:24px;">
                                        <dl>
                                            <dt><img id="ercodept" src="{$publicserver}/public/chouke/images/wxcode.png" style="width:52px;height:52px;"
                                                     alt=""></dt>
                                            <dd>
                                                <p>公众号二维码尺寸160*160</p>
                                                <!--<a href="javascript:;" class="p176-uplodingBtn">上传</a>-->
                                                <form action='/chouke/uploadfile' method='post' id="submit-3"
                                                      enctype="multipart/form-data">
                                                    <div class="uploader white">
                                                        <input type="text" class="filename"/>
                                                        <input id="first3" type="file" name="file" class="p176-uplodingBtn"/>
                                                        <input type="hidden" id="hidden3">
                                                        <input type="hidden" name="width" value="160">
                                                        <input type="hidden" name="height" value="160">
                                                    </div>
                                                    <div style="float:right;margin: 10px 0px;">
                                                        <input type="button" name="file" class="p176-uplodingBtn" value="上传"
                                                               id="up3"/>
                                                    <span class="p176-count01">
                                                        <span id="m3" style="color:red"></span>
                                                    </span>
                                                    </div>
                                                </form>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p176-setInfo-nextStep mtop15">
                        <a href="javascript:;" onclick="next(1, true)" class="p176-nextStep-btn">下一步&gt; &gt;</a>
                    </div>
                </div>

                <!--第二阶段-->
                <div id="second" style="display: none;">
                    <h2 class="p176-tit pdRight20 clearfix">
                        <span class="fz14"><a href="javascript:;" onclick="createCk()">筹课平台 > </a>新建筹课信息</span>
                    </h2>
                    <div class="zzsc">
                        <a href='javascript:'>1</a>
                        <a href='javascript:' class="thisclass">2</a>
                    </div>
                    <div class="zzsc-word">
                        <span>设定课程信息</span>
                        <span>设定筹课规则</span>
                    </div>
                    <div class="qipao">
                        <b class="orgBotCor second">◆</b>
                        <p class="pClass"><img src="{$publicserver}/public/chouke/images/dp.jpg" />通过设定规则来说明筹课的具体玩法，引导用户通过设定的规则来参与活动。</p>
                    </div>
                    <div class="p176-setInfo-wrap clearfix">
                        <div class="p176-setInfo-main mtop20 mLeft10">
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b">&nbsp;&nbsp;筹课时间</div>
                                <div class="p176-data-con">
                                    <div class="p176-label">开始时间：</div>
                                    <div class="p176-filed-b">
                                        <div class="p176-Input-wrap">
                                            <input id="startDate" type="text" class="p176-Input" placeholder="2016-01-20" onclick="laydate()"
                                                   autocomplete="off">
                                            <i class="p176-input-data"></i>
                                        </div>
                                        <div class="p176-input-wrap">
                                            <input id="startTime" type="text" class="p176-Hinput" placeholder="00:00" onclick="ModuleTimeMenu.init(this);" autocomplete="off">
                                            <i class="p176-input-hour"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="p176-data-con">
                                    <div class="p176-label">结束时间：</div>
                                    <div class="p176-filed-b">
                                        <div class="p176-Input-wrap">
                                            <input id="endDate" type="text" class="p176-Input"
                                                   placeholder="2016-01-20" onclick="laydate()" autocomplete="off">
                                            <i class="p176-input-data"></i>
                                        </div>
                                        <div class="p176-input-wrap">
                                            <input id="endTime" type="text" class="p176-Hinput" placeholder="00:00"
                                                   onclick="ModuleTimeMenu.init(this);" autocomplete="off">
                                            <i class="p176-input-hour"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" style="margin-left:20px;">规则说明</div>
                                <div class="p176-filed-b">
                                    <textarea style="width:773px;padding:6px 7px 15px 7px;" class="p176-textarea" id="ruleIntroduce" onblur="validate(2, false)"></textarea>
                                    <span class="p176-count" style="bottom:5px;right:70px;">
                                        <span id="explainInformCnt9">0</span>/<span id="explainMaxCnt10">300</span>
                                    </span>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" style="margin-left:20px;">兑课地址</div>
                                <div class="p176-filed-b" style="border: 1px solid #dfdfdf;height:29px;width:469px;position:relative;">
                                    <input id="address" type="text" class="p176-Sminput" onblur="validate(2, false)" style="min-width:409px;border:0;">
                                    <span class="p176-count" style="top:1px;right:10px;position:absolute;">
                                        <span id="explainaddressMinCnt">0</span>/<span id="explainaddressMaxCnt">30</span>
                                    </span>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" style="margin-left:20px;">兑课电话</div>
                                <div class="p176-filed-b">
                                    <input id="phoneNum" type="text" class="p176-Sminput">
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" style="margin-left:-8px;">兑课截止日期</div>
                                <div class="p176-filed-b">
                                    <div class="p176-Input-wrap">
                                        <input id="effect" type="text" class="p176-Input" placeholder="2016-01-20" onclick="laydate()"
                                               autocomplete="off">
                                        <i class="p176-input-data"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" style="margin-left:0px;">帮课名额设置</div>
                                <div class="p176-filed-b">
                                    <i class="p176-queryImg"><img src="{$publicserver}/public/chouke/images/queryIcon.png" alt=""></i>
                                    <span class="p176-explain">名额指本课程获得上课资格的人员数量，帮筹人数指需要多少人帮忙才能成功。<div class="p176-addBtn" style="float:right"><a href="javascript:void(0)" onclick="addBatch()">添加</a></div></span>
                                    <input id="batchNum" value="1" type="hidden" />
                                </div>
                            </div>
                            <div id="batchId">

                            </div>
                            
                            
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" style="margin-left:0px;">
                                	<input type="checkbox" id="helpWealSwitch" checked/>
                                </div>
                                <div class="p176-filed-b">
                                    <span class="">设置帮筹福利</span>
                                </div>
                            </div>
                            
                           
                            
                        </div>
                         <div id="helpBatchDiv">
                            
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b">福利名称</div>
                                <div class="p176-filed-b" style="border: 1px solid #dfdfdf;height:29px;width:269px;position:relative;">
                                    <input id="wealName" type="text" class="p176-Sminput" onblur="validate(2, false)" style="min-width:209px;border:0;">
                                    <span class="p176-count" style="top:1px;right:10px;position:absolute;">
                                        <span id="explainWealNameMinCnt">0</span>/<span id="explainWealNameMaxCnt">12</span>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" >福利备注</div>
                                <div class="p176-filed-b" style="border: 1px solid #dfdfdf;height:29px;width:400px;position:relative;">
                                    <input id="wealRemark" type="text" class="p176-Sminput" onblur="validate(2, false)" style="min-width:309px;border:0;">
                                    <span class="p176-count" style="top:1px;right:10px;position:absolute;">
                                        <span id="explainWealRemarkMinCnt">0</span>/<span id="explainWealRemarkMaxCnt">20</span>
                                    </span>
                                </div>
                            </div>
                            
                             <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b" style="margin-left:-2px;">福利引导语</div>
                                <div class="p176-filed-b">
                                    <textarea style="width:773px;padding:6px 7px 15px 7px;" class="p176-textarea" id="wealBootIntro" onblur="validate(2, false)"></textarea>
                                    <span class="p176-count" style="bottom:5px;right:70px;">
                                        <span id="explainWealBootCnt">0</span>/<span id="explainWealBootIntroMaxCnt">200</span>
                                    </span>
                                </div>
                            </div>
                            
                             <div class="p176-setInfoCon clearfix">
                                <div class="p176-label-b">福利说明</div>
                                <div class="p176-filed-b">
                                    <textarea style="width:773px;padding:6px 7px 15px 7px;" class="p176-textarea" id="wealIntroduce" onblur="validate(2, false)"></textarea>
                                    <span class="p176-count" style="bottom:5px;right:70px;">
                                        <span id="explainWealIntroduceCnt">0</span>/<span id="explainWealIntroduceMaxCnt">200</span>
                                    </span>
                                </div>
                            </div>
                            
                            
                            
                            
                            
                            </div>
                    </div>
                    <div class="p176-setInfo-nextStep mtop15 p176-tit-btnWrap">
                        <a href="javascript:;" onclick="previous(2)" class="p176-nextStep-btn">&lt; &lt;上一步</a>
                        <a href="javascript:;" onclick="viewPage(2)">预览</a>
                        <a href="javascript:;" class="" onclick="saveEditNewCk(2, true)">保存</a>
                        <a href="javascript:;" class="disabledBtn releaseBtn " onclick="newCkEditPublish(1)" >发布</a>
                    </div>
                </div>

                <!--第三阶段-->


                <!--第四阶段-->

            </div>
        </div>
        <div class="p176-left">
            <div class="p176-leftmenu">
                <ul class="mtop10">

                </ul>
            </div>
        </div>
    </div>
</div>
    <!--</form>-->
<div style="position:absolute;background:#fff;border:1px solid rgb(204, 204, 204);width:480px;z-index:29891017;display:none;"class="J-inputAutoMenu">
    <div class="p176-hour">
        <dl>
            <dt>小时</dt>
            <dd class="p176-hour-table03 J-Hour-Box">
                <table>
                    <tbody><tr>
                        <td><div class="mExt"><a href="javascript:;" class="on">0</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">1</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">2</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">3</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">4</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">5</a></div></td>
                    </tr>
                    <tr>
                        <td><div class="mExt"><a href="javascript:;">6</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">7</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">8</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">9</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">10</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">11</a></div></td>
                    </tr>
                    <tr>
                        <td><div class="mExt"><a href="javascript:;">12</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">13</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">14</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">15</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">16</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">17</a></div></td>
                    </tr>
                    <tr>
                        <td><div class="mExt"><a href="javascript:;">18</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">19</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">20</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">21</a></div></td>
                        <td><div class="mExt"><a href="javascript:;" class="">22</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">23</a></div></td>
                    </tr>
                    </tbody></table>
            </dd>
        </dl>
        <dl>
            <dt>分钟</dt>
            <dd class="p176-hour-table03 J-Minute-Box">
                <table>
                    <tbody><tr>
                        <td><div class="mExt"><a href="javascript:;" class="on">0</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">5</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">10</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">15</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">20</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">25</a></div></td>
                    </tr>
                    <tr>
                        <td><div class="mExt"><a href="javascript:;">30</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">35</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">40</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">45</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">50</a></div></td>
                        <td><div class="mExt"><a href="javascript:;">55</a></div></td>
                    </tr>
                    </tbody></table>
            </dd>
        </dl>
    </div>
    <div class="clearfix"></div>
    <div class="p176-popbottom clearfix" style="margin:10px;">
        <div class="alignCenter">
            <input type="button" class="btn-custom btn-custom-blue J-Btn-yes" value="确定">&nbsp;&nbsp;
            <input type="button" class="btn-custom btn-custom-gray J-Btn-close" value="取消">&nbsp;&nbsp;
        </div>
    </div>
</div>
</body>
</html>