{include file="activity/common_header.html"}
<div class="row">
  <div class="col-md-12">
  		微信大屏互动系统目前包括签到功能、3D签到墙展示功能、新东方logo展示功能和抽奖功能。
  </div>
  <div class="col-md-12">
  		<h4 class="page-header" style="border-bottom:0px;"><b>一、前后台操作演示：</b></h4>
		<ul style="padding-left:35px;line-height:30px;">
			<li>微信大屏互动系统前台演示地址：<a href="http://v.xdf.cn/25_237132.html" target="_blank">http://v.xdf.cn/25_237132.html</a></li>
			<li>微信大屏活动系统后台演示地址： <a href="http://v.xdf.cn/25_237146.html" target="_blank">http://v.xdf.cn/25_237146.html</a></li>
			<li>微信大屏活动抽奖环节演示地址： <a href="http://v.xdf.cn/7_237794.html" target="_blank">http://v.xdf.cn/7_237794.html</a></li>
			<li>推荐浏览器：<font color="red">Google Chrome</font></li>
			<li>快捷键操作：切换至活动主形象 <font color="red">Ctrl + H</font></li>
			<li>切换至3D签到墙 <font color="red">Ctrl + D</font></li>
			<li>切换至新东方logo <font color="red">Ctrl + L</font></li>
			<li>抽奖启动 <font color="red">回车键Enter</font></li>
			<li>抽奖停止 <font color="red">Ctrl + E</font></li>
			<li><b>消息上墙功能说明：</b></li>
			<li>
				<ul style="padding-left:35px;padding-right:35px;line-height:30px;">
					<li>切换至消息上墙 <font color="red">Ctrl + M</font></li>
					<li>在消息上墙界面，显示/隐藏用作扫描发布消息的大二维码 <font color="red">Ctrl + Q</font></li>
					<li style="color:red;">注意事项：</li>
					<li>1、需要到活动设置列表中点击一下二维码的“查看”生成二维码以后，才可以在前端的消息上墙界面看到真实的二维码。</li>
					<li>2、消息字数限制为25个字，超出之后将会显示不全(预存消息一样限制)。</li>
					<li>3、参会人员发布的消息需要在后台“消息列表”中审核通过后才能在大屏进行显示。所以现场需要有两台电脑，一台用作前端页面的投屏显示，一台用作后台消息的审核。</li>
				</ul>
			</li>
		</ul>
  </div>
  <div class="col-md-12">
		<h4 class="page-header" style="border-bottom:0px;"><b>二、系统应用场景：</b></h4>
		<ul style="padding-left:35px;padding-right:35px;line-height:30px;">
			<li>1、现场有LED大屏，配有切屏器，可以实现舞台大屏界面切换时，建议微信大屏系统由单独电脑操控。活动主形象和配合节目指定的视频及音乐由另一台电脑操控。这样参会人员现场体验会更好;</li>
			<li>2、现场没有LED大屏，不配有切屏器，不能实现舞台大屏界面切换时，建议以抽奖互动系统为主，由单独电脑操作。这样参会人员现场体验会更好。</li>
		</ul>
  </div>
</div>
{include file="activity/common_footer.html"}