@charset "utf-8";
/*2016.5.25新增*/
/*01-01精选课程*/
.p176-class-icon04{background:url(../images/hotspot.png) no-repeat; background-size:100%; }
.p176-class-icon05{background:url(../images/advertisement.png) no-repeat; }

.xdf_classification{width:80%; height:136px; border:1px solid #dfdfdf; margin-top:20px; overflow:hidden; }
.xdf_classification ul li{width:100%; line-height:45px; text-indent:10px; }
.xdf_classification ul li{color:#a8a8a8; }
.xdf_classification ul li a{padding:6px; color:#a8a8a8; }
.xdf_classification ul li a.add, .xdf_classification ul li a:hover{background:#00ba97; color:#fff; text-decoration:none; }
/*01-01精选课程结束*/
/*01-01-01优惠课详情*/
.xdf_main1{width:100%; height:auto; }
/*01-01-01优惠课详情结束*/

/*02-01-c推荐*/
.xdf_green{color:#00ba97; }
#xdf_recommend{width:100%; }
#xdf_recommend li{float:left;height:51px;position:relative;width:95px;text-align:center;}
#xdf_recommend li a{display:block;width:auto;height:51px;margin-top:0;text-align:center;line-height:51px; }
.xdf_border{color:#00ba97;background:#f5fbfa;border-top: 2px solid #00ba97;line-height:51px;position:absolute;top:-2px; }
.xdf_special_title{width:100%;height:51px;border-top:2px solid #ccf1ea;border-bottom:1px solid #ccc;margin-top:20px;float:left;font-size:18px;}
/*02-01-c推荐结束*/

/*02-01-c推荐_已报名人数*/
#xdf_alert01{left:50%;width:577px;margin-left:-289px;padding-bottom:20px; }
#xdf_alert_top01{width:577px; }
.xdf_tdwidth td{width:30%; }
/*02-01-c推荐_已报名人数*/

/*02-01-01-01推荐-热点详情*/
.xdf_title{height:36px;line-height:36px;border-bottom:2px solid #ccf1ea;padding-top:10px; }
.xdf_sen{color:#7ed3be; }
.xdf_header{width:100%;height:90px;border-bottom:1px solid #eeeeee; }
.xdf_header h1{margin-top:28px;font-size:26px;color:#000; }
.xdf_header ul{width:100%; margin-top:10px; }
.xdf_header ul li{padding:5px;float:left;margin-right:15px; }
.xdf_header ul li span{margin-left:10px; }
.xdf_header ul li a{padding:5px;background:#00ba97;color:#fff; }
.xdf_main{width:100%; height:auto;margin-top:15px;margin-bottom:50px;}
.xdf_main p{text-indent:26px;line-height:35px;}
.xdf_main h1{font-size:20px;text-indent:26px;line-height:35px;color:#323030;}
/*02-01-01新建热点*/
.xdf_title1{padding:5px 20px;margin:0 auto;background:#fff;}
.xdf_left{width:196px;height:100%;padding-left:15px;margin-top:15px;float:left;background:#fff;}
.xdf_left h1{font-size:16px;text-indent:15px;}
.xdf_left dl{margin-top:10px;margin-left:15px;position: relative;}
.xdf_left dd{width:163px;height:25px;line-height:25px;color:#fff;background:#000;opacity:0.5;position:absolute;bottom:0;left:0;text-indent:10px;}
.xdf_center{width:70%;height:auto;float:left;background:#fafafa;border-left:1px solid #e1f3f0;border-right:1px solid #e1f3f0; }
.xdf_center_top{width:97%;height:auto;margin-top:20px;}
.xdf_center_bottom{margin-left:20px;}
.xdf_inputbox{width:338px;height:28px;border:1px solid #ccc;margin-top:10px;background:#fff;margin-left:40px;}
.xdf_inputbox input{width:336px;height:26px;line-height:28px;border:none;outline:none;text-indent:10px;color:#ccc;}
.xdf_inputbox01{width:340px;height:30px;margin-top:16px;line-height:30px;position:relative;}
.xdf_inputbox01 span{float:right;display:block;width:298px;height:28px;background:#fff;border:1px solid #ccc;}
.xdf_inputbox01 span input{width:294px;height:25px;outline:none;border:none;text-indent:10px;}
.xdf_calendar{width:340px;height:30px;line-height:30px;margin-top:15px;}
.xdf_calendar input{width:277px;height:28px;text-indent:10px;float:right;}
.xdf_select{width:500px;height:30px;line-height:30px;margin-top:15px;}
.xdf_select ul li{float:left;margin-right:12px;}
select{border: none; outline: none; }
.xdf_select1{width:132px;height:29px;border:1px solid #ccc;background:#fff;}
.xdf_select1 select{width:132px;height:29px;}
.xdf_textarea{width:50%;height:auto;margin-top:15px;background:#fff;}
.xdf_textarea textarea{width:554px;height:97px;border:none;resize:none;text-indent:10px;outline:none;}
.xdf_label{width:446px;height:auto;margin-top:20px;}
.xdf_label ul{word-wrap:break-word;}
.xdf_label ul li{margin:10px 0px;}
.xdf_label ul li a{line-height:28px;padding:2px 10px;border:1px solid #00b997;border-radius:20px;margin:5px;}
.xdf_label ul li a:hover{background:#00b997;color:#fff;}
.xdf_click{width:100px;height:30px;text-align:center;line-height:30px;}
.xdf_add{background:#00b997;color:#fff;}
.xdf_upload{margin-top:20px;overflow:hidden;}
.xdf_upload span{margin-right:10px;float:left;}
.xdf_upload img{float:left;margin-right:10px;}
.xdf_upload dl{float:left;margin-bottom:30px;margin-top:3px;}
.xdf_upload dl dt{font-size:12px;color:#C3C3C3;margin-bottom:5px;}
.xdf_upload ul li{float:left;margin-right:5px;}
.xdf_right{width:20%;height:auto;float:left;}
.xdf_right ul{margin-left:10px;}
.xdf_right ul li{margin:20px 0;cursor:pointer;}
.xdf_right ul li a{padding-right:10px;cursor:pointer;}
.xdf_right ul li a:hover{color:#00ba97;}
/*02-01-01新建热点结束*/
/*02-01-01新建热点_添加标签*/
.xdf_Mongolia_wrap{width:100%;height:100%;position:fixed;top:0;left:0;z-index:100004;}
.xdf_Mongolia_alert{width:100%;height:100%;position:fixed;top:0;left:0;z-index:100004;}
.xdf_Mongolia{width:100%;height:100%;position:fixed;top:0;left:0;opacity:0.4;background:#000;z-index:100004;}
.xdf_alert{width:474px;background:#fff;position:absolute;left:50%;top:50%;margin-left:-250px;z-index:100005;}
.xdf_alert1{width:332px;height:175px;background:#fff;position:absolute;top:50%;left:50%;margin-top:-200px;margin-left:-250px;z-index:100005;}
.xdf_alert_top{width:474px;height:46px;line-height:46px;background:#00b997;position:relative;}
.xdf_alert_top h1{font-size:16px;color:#fff;text-indent:20px;line-height:46px;float:left;}
.xdf_alert_top a{position:absolute;right:20px;}
.xdf_alert_main{width:472px;height:auto;}
.xdf_alert_title{width:432px;margin:23px auto;}
.xdf_int{width:168px;height:20px;border:1px solid #ccc;margin-right:15px;float:left;}
.xdf_int input{width:160px;height:16px;border:none;}
.xdf_btn1{width:60px;height:22px;background:#00b997;text-align:center;line-height:22px;margin-right:15px;float:left;}
.xdf_btn1 a{color:#fff;}
.xdf_span{color:#ccc;}
.xdf_alert_bottom{width:432px;height:auto;margin:20px auto;border-top:1px solid #ccc;}
.xdf_alert_bottom ol li{width:430px;height:26px;border:1px solid #ccc;line-height:26px;text-indent:10px;border-top:none;}
.none{border-top:none;}
.xdf_boutton{width:100px;height:40px;background:#00b997;margin:15px auto;text-align:center;line-height:40px;color:#fff;cursor:pointer;}
/*02-01-01新建热点—_添加标签结束*/

/*02-01-01新建热点_新建图片*/
.xdf_addpic{width:100%;height:auto;margin:20px 10px;}
.xdf_addpic i{color:#00BA97;}
.p176-speed01{position:absolute;display:inline-block;width:30%;background:#00ba97;height:6px;}
.xdf_addpic01{width:100%;margin-top:20px;}
.xdf_music{width:536px;height:62px;border:1px solid #ccc;margin-top:20px;}
.xdf_music_left{width:86px;height:62px;float:left;}
.xdf_music_left h1{text-align:center;line-height:24px;margin-top:6px;color:#000;}
.xdf_music_left span{display:block;font-size:12px;text-align:center;line-height:24px;}
.xdf_play{width:62px;height:auto;margin-left:475px;}
.play_btn img{width:36px;height:36px;display:block;margin:10px auto;}
/*02-01-01新建热点_新建图片结束*/
/*02-01-03推荐-新建活动*/

.xdf_inputbox2{width:442px;position:relative;}
.xdf_inputbox2 span{width:373px;color:#000;}
.xdf_inputbox2 span input{width:324px;}
.xdf_words{color:#ccc;position:absolute;right:10px;}
.xdf_calendar01{width:368px;}
.xdf_inputbox3{width:776px;}
.xdf_inputbox3 span{width:708px;}
.hui{color:#ccc;}
.hei{color:#000;}
.xdf_inputbox4{width:567px;position:relative;}
.xdf_inputbox4 span{margin-right:126px;}
.xdf_words01{margin-left:50px;position:absolute;right:0;}
.xdf_words01 input{color:#00ba97;border-color:#00ba97;}
.xdf_input02{margin-top:20px;}
.xdf_activity{width:99%;float:left;margin-right:100px;}
.xdf_activity p{float:left;margin-right:10px;line-height:50px;}
.xdf_wenben{width:708px;height:268px;border:1px solid #ccc;float:left;}
.xdf_upload01{width:320px;height:auto;margin-top:20px;float:left;overflow:hidden;margin-bottom:15px;width:100%;}
.up1{height:95px;}
.up1{height:85px;}
.xdf_upload01 span{float:left;margin-right:10px;}
.xdf_upload01 img{float:left;margin:0px 10px 0px 6px;}
.xdf_upload01 dl{width:400px;float:left;overflow:hidden;}
.xdf_upload01 dl dt{color:#ccc;}
.xdf_upload01 dl dd{width:58px;height:23px;border:1px solid #00b997;line-height:23px;text-align:center;margin-top:6px;line-height:20px;cursor:pointer;}
.xdf_upload01 dl dd:hover{background:#00b997;}
.xdf_upload01 dl dd:hover a{color:#fff;}

.editor{float:left;width:524px;height:94px;border:none;}
.xdf_right01 ul li{margin-left:40px;}
.xdf_right01 ul li a{margin-right:10px;}
.xdf_footerlist{width:50%;height:52px;}
.xdf_footerlist ul li{float:left;margin-right:10px;}
.xdf_footerlist ul li a{padding:7px 13px;color:#fff;}
/*02-01-03-推荐-新建活动结束*/
/*02-01-01-01推荐-热点详情结束*/

/*02-01-02-01推荐-资料详情*/
.xdf_footer{width:310px;height:80px;margin-left:10px;margin-bottom:20px;}
.xdf_footer dl dt{width:32px;height:80px;margin-right:15px;float:left;}
.xdf_footer dl dd{width:300px;}
.xdf_footer dl dd span{display:block;width:300px;line-height:26px;}
.xdf_footer dl dd span a{margin-left:15px;color:#24be9e;}
/*02-01-02-01推荐-资料详情结束*/

/*02-02-01a热点专题新建专题*/
.xdf_btncolor{position:relative;height:26px;}
.xdf_btncolor input{width:60px;height:25px;opacity:0;z-index:1;position:relative;cursor:pointer;font-size:0;top:-8px;}
.xdf_btncolor a{color:#00b997;position:absolute;left:25%;top:5%;}
.xdf_content{width:100%;height:32px;float:left;margin-bottom:38px;overflow:hidden;}
.xdf_content01{margin-bottom:10px;}
.xdf_content span{float:left;line-height:30px;}
.xdf_content_search{width:239px;height:30px;border:1px solid #ccc;display:block;float:left;border-left:0;}
.xdf_content_search input{border:none;outline:none;width:230px;height:28px;text-indent:10px;}
.xdf_btn2{padding-left:15px;padding-right:15px;height:32px;background:#00b997;text-align:center;line-height:32px;color:#fff;border:none;outline:none;cursor:pointer;}
/*02-02-01a热点专题新建专题结束*/

/*02-02-01-b热点专题-新建专题-2*/
.xdf_content_next{width:auto;height:auto;float:left;margin-bottom:40px;margin-left:60px;}
.xdf_content_next ul{width:368px;border:1px solid #ccc;margin-left:12px;padding-bottom:10px;}
.xdf_content_next ul li{margin-left:15px;line-height:30px;}
.xdf_content_next ul li a{color:#00ba97;margin-right:20px;}
/*02-02-01-b热点专题-新建专题-2*/

/*02-01-a推荐*/
#xdf_wrap_city01{background:#fafafa;float:left;width:80%;height:auto;border:1px solid #ccc;margin-top:20px;padding:15px 10px;margin-bottom:40px; position:relative;}
#xdf_wrap_city01 ul{width:100%;height:auto;float:left;margin-bottom:20px;}
#xdf_wrap_city01 ul li{float:left;}
#xdf_wrap_city01 ul li a{font-size:12px;padding:4px 6px;}

#xdf_wrap_city{background:#fafafa;float:left;width:98%;height:auto;border:1px solid #ccc;margin-top:20px;padding:15px 10px;margin-bottom:20px;}
#xdf_wrap_city ul{width:100%;height:auto;float:left;margin-bottom:20px;}
#xdf_wrap_city ul li{float:left;}
#xdf_wrap_city ul li a{padding:4px 8px;}
.xdf_show{width:41px;height:14px;background:url(../images/xdf_show.png) no-repeat;border:none;outline:none;cursor:pointer;position:absolute;left: 47%;bottom:-16px;}
/*02-01-a推荐结束*/

/*02-02热点专题*/
.xdf_special{width:100%;height:38px;float:left;border-bottom:2px solid #ccf1ea;margin-top:10px;}
.xdf_special h1{line-height:38px;text-indent:10px;background:url(../images/xdf_bg.png) no-repeat left center;font-size:16px;color:#000;}
.xdf_special_search{margin-bottom:20px;width:100%;float:left;margin-top:20px;overflow:hidden;height:32px;}
.xdf_special_search span{width:337px;height:30px;border:1px solid #dfdfdf;background:#fff;display:block;float:left;}
.xdf_special_search span button{width:14px;height:14px;background: url(../images/xdf_se.png) no-repeat center center;border:none;outline:none;float:left;margin-top:7px;cursor:pointer;margin-left:4px;}
.xdf_special_search span input{border:none;outline:none;width:293px;height:26px;line-height:30px;}
.xdf_special_btn{width:100px;height:32px;background:url(../images/xdf_search_btn.png) no-repeat;border:none;outline:none;cursor:pointer;float:right;line-height:30px;color:#fff;margin-right:-12px;}
.xdf_bgcolor{background:#00ba97;color:#fff;}
/*02-02b热点专题结束*/

/*03-01广告位新建*/
.xdf_select01{width:442px;height:auto;line-height:29px;margin-top:16px;}
.xdf_select01 span{display:block;width:368px;height:28px;border:1px solid #ccc;float:right;}
.xdf_select01 span select{width:368px;height:28px;line-height:28px;}
.xdf_select01 span select option{line-height:26px;text-indent:10px;}
/*03-01广告位新建*/

/*03广告*/
.p176-btn-copy01 i{background: url(../images/xdf_offline.png) no-repeat;margin-top:4px;}
.p176-btn-copy02 i{background: url(../images/xdf_write.png) no-repeat;margin-top:4px;}
.xdf_first a{width:16px;height:16px;margin-left:5px;color:#00BA97;overflow:hidden;}
.xdf_first span{width:16px;display:inline-block;margin-right:6px;}
.xdf_color{color:#00BA97; }
.xdf_xc{width:60px;height:30px;border:1px solid #ccc;}
.xdf_xc select{width:60px;height:30px;font-size:12px;font-size:14px;color:#666;padding-left:6px;width:70px;}

.xdf_carousel{width:410px;height:165px;text-align:center;font-size:50px;border:1px solid #ccc;position:relative;margin:0px 0px 15px 0px;overflow:hidden;float:left;}
.xdf_carousel ul{width:410px;height:200px;position:relative;}
.xdf_carousel ul li{width:410px;height:165px;left:300px;top:0;position:absolute;}
.xdf_carousel ul li img{width:100%;}
.xdf_carousel ol{position:absolute;bottom:0px;z-index:20;right:0px;}
.xdf_carousel ol a{width:12px;height:12px;margin-right:15px;border:1px solid #ccc;border-radius:50%;border-color:#ccc;display:inline-block;background:#ccc;}
.xdf_carousel ol a.active{background:#00ba97;z-index:18;border:1px solid #00ba97;}
/*03广告结束*/
.xdf_hide{display:none;}
/*2016.6.4*/
.q_over{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.p176-btn-copy01 i{background:url(../images/xdf_copy.png) no-repeat;padding-right:5px;}
.p176-btn-copy02 i{background:url(../images/z-seesee.png) no-repeat;padding-right:5px;}
.p176-btn-copy03 i{background:url(../images/xdf_write.png) no-repeat;padding-right:5px;}
.p176-btn-copy04 i{background:url(../images/releaseIcon.png) no-repeat;padding-right:5px;}
.p176-btn-copy05 i{background:url(../images/xdf_offline.png) no-repeat;padding-right:5px;}
.p176-btn-copy06 i{background:url(../images/quxiaozhiding.png) no-repeat;padding-right:5px;}
.p176-btn-copy07 i{background:url(../images/zhiding.png) no-repeat;padding-right:5px;}
/*修改*/
.hot-nav-list{height:50px;line-height:50px;border-top:2px solid #ccf1ea;border-bottom:1px solid #ccc;margin-top:5px;}
.hot-nav-list a{font-size:18px; padding:0 13px;}
.hot-nav-list a.on{display:inline-block;background:#f7faf7;color:#01a889;border-top:2px solid #01a889;position:relative;top:-2px;}

/*search*/
.hot-search{padding:20px 0;}
.hot-search .inp-s{width:300px;color:#c5c5c5;height:28px;line-height:28px;border:1px solid #ccc;padding:0px 8px 0px 30px;float:left;}
.hot-search .newSet{background:#00b997;display:inline-block;padding:5px 14px;color:#fff;}
.hot-search .search-box{position:relative;height:32px;overflow:hidden;}
.hot-search .search-box .ico-search{position:absolute;left:10px;top:9px;display:inline-block;width:14px;height:14px;background:url(../images/z-search.png) no-repeat;}
.hot-search .account-tit{margin:5px 9px 0px 30px;}

/*分类*/
.hot-classes{border:1px solid #dfdfdf;padding:10px 8px;font-size:12px;margin-bottom:35px;position:relative;background:#FAFAFA; }
.hot-classes .list1 li{position:relative;padding-left:45px;line-height:30px;height:30px;overflow:hidden;margin-bottom:7px; }
.hot-classes .list1 li .xian-wid{display:inline-block;width: 95%;}
.hot-classes .list1 li .xian-wid2{display:inline-block;width: 95%;}
.hot-classes .list1 li .xian-wid3{display:inline-block;width: 95%;}
.hot-classes .list1 li .xian-wid4{display:inline-block;width: 95%;}
.hot-classes .list1 li.last{margin-bottom:0;}
.hot-classes .list1 li .tit{position:absolute;left:0;top:0px;}
.hot-classes .list1 li a{display:inline-block;margin-right:2px; padding:2px 4px 0px 4px;margin-bottom:3px;line-height:20px;}
.hot-classes .list1 li a.cur{color:#fff;background:#00ba97;padding:2px 4px 0px 4px; }
.hot-classes .list1 li a:hover{color:#fff;background:#00ba97;}
.hot-classes .list1 li em{color:#00ba97;cursor:pointer;position:absolute;right:15px;bottom:0;}
.hot-classes .list1 li em .ico-open{display:inline-block;width:8px;height:5px;background:url(../images/ico-open.png) no-repeat;position:relative; top:-2px;left:3px;}
.hot-classes .list1 li em .ico-shou{display:inline-block;width:8px;height:5px;background:url(../images/ico-shou.png) no-repeat;position:relative; top:-2px;left:3px;}
.hot-classes .list1 li .shou{display:none;}
.hot-classes .list1 li .open{display:none;}
.hot-classes .list1 li .shou2{display:none;}
.hot-classes .list1 li .open2{display:none;}
.hot-classes .list1 li .shou3{display:none;}
.hot-classes .list1 li .open3{display:none;}
.hot-classes .list1 li .shou4{display:none;}
.hot-classes .list1 li .open4{display:none;}
.hot-classes .list1 li:last-child{margin-bottom:0;}
.hot-classes .botton{position:absolute;left:50%;bottom:-14px;margin-left:-20px;width:41px;height:14px;background:url(../images/z-botton.png) no-repeat;cursor:pointer;}

/*ico*/
.ico-add-new{display:inline-block;width:10px;height:10px;background:url(../images/z-add-new.png) no-repeat;margin-right:8px;}

/*权限*/
.jurisd-tit{margin:5px 9px 0px 30px;}
.jurisdiction-box{border:1px solid #ccc;padding:10px 0px;padding-right:50px;width:405px;}
.jurisdiction-box .ztree{font-size:14px;}
.jurisdiction-box .tit-jia{background:url(../images/z-jia.png) 0px 5px no-repeat;cursor:pointer;margin-bottom:4px;}
.jurisdiction-box .tit-jian{background:url(../images/z-jian.png) 0px 5px no-repeat;cursor:pointer;margin-bottom:4px;}
.jurisdiction-box ul li{padding-left:15px;}
.jurisdiction-box ul li ul li{margin-top:4px;}

/*功能管理*/
.function-tit{margin:5px 9px 0px 3px;}
.function-box{width:760px;}
.list-function{border:1px solid #ccc;border-bottom:0;overflow:hidden;margin-bottom:25px;}
.list-function li{height:40px;line-height:40px;border-bottom:1px solid #ccc;padding-left:15px;}
.list-function li span{display:inline-block;}
.list-function li .tit{color:#c5c5c5;width:120px;}
.list-function li .label-a{display:inline-block;width:100px;}

/*多余文字省略号*/
.text-over{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/*上移下移icon*/
.up, .down{cursor:pointer;display:inline-block;position:relative;top:3px;}
.up{width:16px;height:16px;background:url(../images/xdf_up.png) no-repeat;}
.up:hover{background-position:-16px 0;}
.down{width:16px;height:16px;background:url(../images/xdf_down.png) no-repeat;}
.down:hover{background-position:-16px 0;}

.p176-table-btnGroup{display:block;}
.p176-table-btnGroup embed{position:relative;top:-9px; }
.p176-mainWrap{padding-bottom:50px;}
.radio{position:relative;top:1px;}

.about-couras{width:288px;border:1px solid #ccc;padding:10px 12px;margin:20px 0 0 142px;overflow:hidden;}
.about-couras h5{padding-bottom:10px;}
.about-couras .list1 li{overflow:hidden;margin-bottom:8px;}
.about-couras .list1 i{color:#0cb797;font-size:12px;cursor:pointer;display:inline-block;margin-right:15px;}

.jj-first .up{display:none;}
.jj-last .down{display:none;}
.new_block{display:none;width:500px;float:left;padding-bottom:10px;border:1px solid #ccc;margin-left:72px;}
.new_block ul{width:310px;height:auto;margin-left:10px;padding-bottom:10px;}
.new_block ul li{line-height:30px;width:480px; }
.new_block ul li a{color:#00ba97;margin-right:5px;}
.new_block p span{color:#ccc;font-size:12px;margin-left:14px;margin-right:220px;}
.new_block p a{padding:5px 10px;margin-right:10px;border:1px solid #00BA97;}
#new_btn{background:#00BA97;color:#fff;}
#new_close{background:#ccc;border:none;color:#fff;padding:6px 11px;}
.search{border:none;outline:none;width:60px;height:28px;padding-bottom:4px;background:#00BA97;color:#fff;cursor:pointer;text-align:center;float:left;line-height:26px;}
.bg_color{background:#00b997;color:#fff;}
.xdf_label01 {width:446px;height:auto;}
.xdf_label01 ul{word-wrap:break-word;}
.xdf_label01 ul li{margin:10px 0px;}
.xdf_label01 ul li a{padding:0px 10px;border:1px solid #00b997;border-radius:20px;margin:5px;display:inline-block;cursor:pointer;}

/*新建广告位*/
.p174-tit a{color:#00ba97;}
.color-up{color:#a1a1a1;margin-top:10px;margin-left:32px;width:215px;}
.uploader{position:relative;display:inline-block;overflow:hidden;cursor:default;padding:0;margin:10px 0px;-moz-box-shadow:0px 0px 5px #ddd;
-webkit-box-shadow:0px 0px 5px #ddd;box-shadow:0px 0px 5px #ddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.filename{float:left;display:inline-block;outline:0 none;height:32px;width:100px;margin:0;padding:8px 10px;overflow:hidden;cursor:default;border: 1px solid;font:9pt/100% Arial, Helvetica, sans-serif;color:#777;text-shadow:1px 1px 0px #fff;text-overflow:ellipsis;white-space:nowrap; -moz-border-radius: 5px 0px 0px 5px;-webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px;background: #f5f5f5;background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f5f5f5));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f5f5f5', GradientType=0);border-color:#ccc;-moz-box-shadow:0px 0px 1px #fff inset;-webkit-box-shadow:0px 0px 1px #fff inset;box-shadow:0px 0px 1px #fff inset;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.button{float:left;height:32px;display:inline-block;outline:0 none;padding:8px 12px;margin:0;cursor:pointer;border:1px solid;font:bold 9pt/100% Arial, Helvetica, sans-serif;-moz-border-radius:0px 5px 5px 0px;-webkit-border-radius:0px 5px 5px 0px;border-radius:0px 5px 5px 0px;-moz-box-shadow:0px 0px 1px #fff inset;-webkit-box-shadow:0px 0px 1px #fff inset;box-shadow:0px 0px 1px #fff inset;}
.uploader input[type=file] {position:absolute;top:0;right:0;bottom:0;border:0;padding:0;margin:0;height:30px;cursor:pointer;filter: alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
input[type=button]::-moz-focus-inner{padding:0;border:0 none;-moz-box-sizing:content-box;}
input[type=text]::-moz-focus-inner{padding:0;border:0 none;-moz-box-sizing:content-box;}

/*input file*/
.input-file{font-size:20px;height:23px;margin-top:2px;cursor:pointer;}
.xdf_btncolor .file-text{width:60px;height:23px;line-height:23px;left:0;border:1px solid #00b997;text-align:center;background:#f5fcfb;}
.addr-libox{width:174px;margin-top:15px;}
.addr-libox .li-a{float:left;line-height:30px;}
.addr-libox .xdf_select1{float:right;}
.editor-box{float:left;width:98%;margin-bottom:20px;height:150px;}
.tag-libox{float:left;width:100%;margin-top:20px;}
.fengmian-imgbg{width:100px;height:52px;}
.editor-box .editor-input{width:98%;}
.input21{width:422px;}
.input21 .span-input{width:380px;}
.input21 .span-input input{width:370px;}
.dd-slow{width:260px;overflow:hidden;}

.xdf_inputbox01 .input50 {width:590px;}
.xdf_inputbox01 .input50 input {width: 540px;}


/*user*/
.user-li{margin-bottom:8px;}
.user-li span{font-size:14px;display:inline-block;width:52px;text-align:right;}
.user-li .tree-indent, .user-li .tree-title{width:auto;}
.user-li .tree-icon{width:0px;}
.user-li .tree-checkbox{width:18px;}
.user-li .tree-hit{width:15px;}
.user-li .color-up{margin-left:12px;border:1px solid #ccc;}
.user-li1{margin-top:20px;}
.user-li-last{margin-top:18px;}
.tree li{margin-bottom:5px;}
#treeContant{overflow-y:auto;font-size:14px;height:300px;width:250px;padding:5px 0px 0px 8px;}
#treeContant2{overflow-y:auto;font-size:14px;height:300px;width:197px;}
#treeContant2 li{margin-bottom:6px;}
.user-input{width:215px;height:28px;line-height:28px;border:1px solid #ccc;padding:0 5px;margin-left:11px;}
.p176-btn-adduser{margin:38px 0px 40px 68px;}
.p176-btn-adduser button{padding:5px 16px;cursor: pointer;color: #fff;border:0;}
.p176-btn-adduser .reset{background:#cecece;margin-right:8px;}
.p176-btn-adduser .sure{background:#00ba97;}
.user-table-info{border:1px solid #ccc;padding:10px 15px;float:left;margin-left:15px;}
.user-table th{vertical-align:top;}
.tree{font-size:14px;}
.table-select{height:28px;line-height:28px;outline:none;list-style:none;border:1px solid #dfdfdf;padding:0 4px;color:#a1a1a1;}

.chouke-input{padding-right:40px;min-width:185px;}
.word-show{width:96%;float:left;}
.word-show dt{width:79px;}

/* 广告幻灯css */
.slideBox{ width:410px;height:230px;overflow:hidden;position:relative;border:1px solid #ddd;  }
.slideBox .hd{ height:15px;overflow:hidden;position:absolute;right:5px;bottom:5px;z-index:1; }
.slideBox .hd ul{overflow:hidden;zoom:1;float:left;  }
.slideBox .hd ul li{float:left;margin-right:10px;border-radius:100px;width:14px;height:14px;background:#ccc; cursor:pointer; }
.slideBox .hd ul li.on{background:#00ba97; }
.slideBox .bd{ position:relative;height:100%;z-index:0;}
.slideBox .bd li{zoom:1;vertical-align:middle; }
.slideBox .bd img{ width:100%;height:auto;display:block;}

/* 保存取消按钮css */
.bottom-botton{margin-top:50px;padding-bottom:70px;overflow:hidden;}
.bottom-botton a{display:inline-block;padding:5px 12px;color:#fff;margin-right:6px;float:left;}
.bottom-botton .green{background:#00ba97;}
.bottom-botton .yellow{background:#ffa800;}
.bottom-botton .gray{background:#cecece;}

.up-style{position:absolute;left:70px;bottom:0;color:red;width:150px;text-align:left;}
.mBottom100{padding-bottom:110px;}
.mBottom20{margin-bottom:20px;}

/*优选弹框*/
.tan_greatbox{height:350px;margin-top:-175px;}
.tan_greatbox .tan_center{ text-align:center;margin-top:50px;}
.tan_greatbox .btn-gray{display:inline-block;padding:5px 32px;color:#00ba97;margin-right:6px;background:#fff;border:1px solid #00ba97;cursor:pointer;font-size:16px;}
.tan_greatbox .btn-green{display:inline-block;padding:5px 32px;color:#fff;margin-right:6px;background:#00ba97;border:1px solid #00ba97;cursor:pointer;font-size:16px;}
.tan_greatbox .tan-input{width:400px;height:26px;padding:0px 5px;line-height:26px;border:1px solid #dfdfdf;}
.tan_greatbox .list2{margin:12px 0px 0px 40px;}
.tan_greatbox .list2 .upImg{width:140px;height:52px;margin-top:-12px;margin-left:10px;}
.tan_greatbox .list2 .upImg dt{height:20px;color:#999;font-size:12px;}
.tan_greatbox .list2 .upImg dd{ position:relative;margin-top:17px;width:60px;height:25px;}
.tan_greatbox .list2 .upImg dd:hover a{background:#00b997;color:#fff;}
.tan_greatbox .list2 .input-file{width:60px;height:25px;position:absolute;top:0;left:0;z-index:1;opacity:0;font-size:0;}
.tan_greatbox .list2 a{right:inherit;left:0;width:60px;height:25px;line-height:25px;text-align:center;border:1px solid #00b997;display:inline-block;color:#00b997;}
.tan_greatbox .list2 .img-bg{margin-left:4px;}
.tan_greatbox .list2 .headimg{margin-top:8px;}
.tan_greatbox .list2 .youxuan-line{width:400px;height:26px;display:inline-block;position:relative;}
.tan_greatbox .list2 .youxuan-line .xdf_words{top:0;right:5px;}
.tan_greatbox .list2 .left-tit{margin-right:10px;}
.tan_greatbox .youxuan-tit{text-align:center;margin-top:65px;font-size:18px;color:#333;}

/*热报专题*/
.scrose-box{margin-left:13px;}
.scrose-box .add-btn{padding:6px 12px;}
.scrose-box .add-box{margin-right:10px;}
.textarea-n{resize:none;float:left;width:353px;height:50px;padding:6px 10px 10px 10px;border:1px solid #ccc;margin-left:2px;}
.wid-name{display:inline-block;width:69px;padding-right:10px;text-align:right;}
.xdf_inputbox-x{width:460px;}
.xdf_inputbox-x .sbi-span{float:inherit;display:inline-block;margin-left:-2px;}

/*删除，发布，下线弹框*/
.tan-delete-box{display:none;width:100%;height:100%;position:absolute;top:0;left:0;}
.tan-delete-box .tw-inside{width:332px;height:175px;background:#fff;position:absolute;top:50%;left:50%;z-index:100005;margin-top:-88px;margin-left:-166px; text-align:center;}
.tan-delete-box .tw-inside .main{margin-top:70px;}
.tan-delete-box .tw-inside .main img{margin-top:-7px;}
.tan-delete-box .tw-inside .main span{font-size:18px;color:#333;}

.equally-in{background:#fff;position:absolute;left:50%;top:50%;z-index:100005;width:380px;height:240px;margin-top:-120px;margin-left:-190px;}
.equally-in .xdf_alert_top{width:380px;}
.equally-in .youxuan-tit{text-align:center;font-size:18px;color:#333;margin:76px 0 20px 0;}
.equally-in .tan_center{text-align:center;margin-top:10px;}
.equally-in .tan_center .btn-gray{display:inline-block;padding:5px 32px;color:#00ba97;margin-right:6px;background:#fff;border:1px solid #00ba97;cursor:pointer;font-size:16px;}
.equally-in .tan_center .btn-green{display:inline-block;padding:5px 32px;color:#fff;margin-right:6px;background:#00ba97;border:0;border: 1px solid #00ba97;cursor:pointer;font-size:16px;}



/*新建优选*/
.view-con{width: 395px;height:680px;float: left; background: #f0f0f0; margin-top: 10px; overflow-y:scroll; position:relative}
.view-con .header{width: 375px;height:115px;background: url(../images/vhead.png) no-repeat;}
.view-con .banner{width: 375px;height:210px;}
.view-con .z1{background: url(../images/vh1.png) no-repeat;padding:33px 12px 0}
.view-con .z1 .add{width:356px; height: 125px;background: url(../images/add1.png) no-repeat; cursor: pointer}
.view-con .z2{background: url(../images/vh2.png) no-repeat;padding:44px 0px 0 10px}
.view-con .z2 .add-l{width: 174px; height: 229px;background: url(../images/add2.png) no-repeat center; float: left;cursor: pointer; margin-right:10px;margin-bottom:12px;}
.view-con .z2 .add-r{width: 174px; height: 229px;background: url(../images/add2.png) no-repeat center; float: right;cursor: pointer}
.view-con .header .site{color:#fff;padding:32px 0 0 30px;}
.view-con .header .course{color:#fff; position:absolute;top:31px;right:33px;}
.gray-layer{width: 100%;height:100%; background:#000; opacity: 0.6; position: absolute; top: 0;left: 0;z-index: 9; display: none}

.view-add-layer{width: 380px; height: 215px; background: #fff; position: absolute; top: 300px; left: 50%; margin-left: -190px; display: none; z-index: 10}
.view-add-layer h5{width: 380px; background: #00ba97; height: 45px;font: 19px/45px '微软雅黑'; text-indent:20px; color: #fff}
.view-add-layer .go{width: 212px; height: 32px;font: 19px/32px '微软雅黑'; border:1px solid #00ba97; color: #00ba97; font-size: 16px; padding:0 20px; display: block; margin: 15px auto 0 }
.view-add-layer .go1{ margin-top: 40px}
.view-add-layer .go:hover{ background: #00ba97; color: #fff}
.view-add-layer .cls{width:12px;height:12px; position: absolute; top: 20px;right: 20px;background: url(../images/view_layer_cls.png) no-repeat;}

.main-ctr{ width: 450px; float: left; margin-top: 15px; margin-left: 20px; position: relative}
.main-ctr .tt{ height:16px; border-left: 3px solid #00ba97;font: 16px/16px '微软雅黑'; color: #333; padding-left: 5px}
.main-ctr .xdf_inputbox01{ margin-top: 25px}
.main-ctr .xdf_inputbox01 input{ font-family: '微软雅黑'}
.xdf_yxtt{margin-top:25px;position:relative;}
.xdf_yxtt span{color:#666;font-size: 12px; margin: 0 10px}
.xdf_yxtt a{color: #00ba97;font-size: 12px;}
.xdf_yxtt .inp_file{position:absolute;left:170px;top:-1px;width:55px;height:22px;cursor:pointer;opacity:0;font-size:0;}


.view-addcon-layer{ width: 600px;height: 665px; background: #f7faf7; position: absolute; top: -15px; left: -10px; padding: 15px;}
.view-addcon-layer .cls{width:20px;height: 20px; position: absolute; right: 10px; top:10px; display: block;background: url(../images/view_add_cls.png) no-repeat;}
.view-addcon-layer .cls:hover{ transition:all 0.5 linear; -webkit-transform: rotate(360deg)}
.view-addcon-layer .xdf_content{ margin-top: 20px; margin-left: 6px}
.view-addcon-layer .xdf_content_search{ border-left:1px solid #ccc; width: 295px  }
.view-addcon-layer .xdf_content_search input{width: 295px;font-family:'微软雅黑'}
.view-addcon-layer .xdf_content_next ul{ background: #fff}

.view-addcon-layer .new_block{ background: #fff;}
.view-addcon-layer .new_block p span{margin-right: 200px;}
.view-addcon-layer .xdf_btn2{ font-family: '微软雅黑'}
.view-addcon-layer .new_block ul li a input{ vertical-align: middle}
.view-addcon-layer .xdf_xc select{ font-family:'微软雅黑'}

.view-con .con .ztcon{width:356px; background: #fff;cursor: move; margin-bottom: 10px; position: relative}
.view-con .con .ztcon img{ width:100%}
.view-con .con .ztcon h5{font:16px/30px '微软雅黑'; padding-left:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.view-con .con .ztcon .nn{font:12px/30px '微软雅黑'; padding-left:10px; float:left }
.view-con .con .ztcon .nn i{font:12px/30px '微软雅黑';color: #fb454b}
.view-con .con .ztcon .nn span{font:18px/30px '微软雅黑';color: #fb454b}
.view-con .con .ztcon .bb{font:12px/20px '微软雅黑'; margin-right:10px; float:right; background: #edecec; padding: 0 10px; border-radius:10px; }

.view-con .con .ztcon2{ background: #fff;cursor: move; padding-bottom: 10px; position: relative}
.view-con .con .ztcon2 img{ width:100%; height:auto}
.view-con .con .ztcon2 h5{font:16px/24px '微软雅黑'; padding-left:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.view-con .con .ztcon2 p{font:12px/16px '微软雅黑'; padding-left:10px; color:#999 }
.view-con .con .ztcon2 .nn{font:12px/18px '微软雅黑'; padding-left:10px; }
.view-con .con .ztcon2 .nn i{font:12px/22px '微软雅黑';color: #fb454b}
.view-con .con .ztcon2 .nn span{font:18px/22px '微软雅黑';color: #fb454b}
.view-con .con .ztcon2 .xx{font:16px/30px '微软雅黑';color: #fff; height:30px; width:90%; margin:0 auto; text-align:center; background:#fb454b;}

.view-con .z1 .ui-state-highlight { height: 210px;  background: #fff; border:2px dashed #999; margin-bottom: 10px }
.view-con .z2 .ui-state-highlight { width:170px; height: 243px;  background: #fff; border:2px dashed #999; margin-right:10px; float:left}

.view-addcon-layer{ display:none}
.view-addcon-layer .div1,.view-addcon-layer .div2{ display:none}

.lkbtn{width:50px;height:50px;position:absolute;top:53px;right:27px;background:url(../images/lk1.png) no-repeat;z-index:10;}
.lkbtn2{width:50px;height:50px;position:absolute;top:53px;right:10px;background:url(../images/lk2.png) no-repeat;}
.lklayer{position:absolute;top:0;left:0;width:100%;height:auto;z-index:9;display:none;}


.btn-right{ padding-left:650px; width:250px;}

/*遮罩层tool*/
.zz-tool{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); display: none}
.zz-tool .t1{display:none; width: 45px; height: 45px;background:url(../images/tool1.png) no-repeat;position: absolute; top:50%;margin-top:-22.5px; left:80px; }
.zz-tool .t2{ width: 45px; height: 45px;background:url(../images/tool2.png) no-repeat;position: absolute; top:50%;margin-top:-22.5px; left:110px; }
.zz-tool .t3{ width: 45px; height: 45px;background:url(../images/tool3.png) no-repeat;position: absolute; top:50%;margin-top:-22.5px; left:220px; }

.ztcon2 .t1{left:30px}
.ztcon2 .t2{display: none}
.ztcon2 .t3{left:70px}

.ztcon:hover .zz-tool{display: block}
.ztcon2:hover .zz-tool{display: block}

.view-bt{ width: 100%; height: 50px; position: absolute; top: 630px; left: 0;background:url(../images/view_bt.jpg) no-repeat; z-index: 9; background-size: contain}

.view-addcon-layer .xdf_upload01 dl{width:auto}
.view-addcon-layer .xdf_upload01 dl dt{ cursor: pointer}

.xdf_content_next_b span{ width: 220px; display: inline-block; }
.xdf_content_next_b label{  margin-right: 15px; font-size: 12px; display: inline-block; width:65px }
.xdf_content_next_b a{  margin-right: 15px;font-size: 12px; display: inline-block; }
.xdf_content_next_b ul li{ position:relative;}
.xdf_content_next_b ul li .inp-file{position:absolute;left:223px;top:5px; cursor:pointer;font-size:0;width:60px;height:20px;opacity:0;}

.main-ctr .search-not{ text-align:center;margin-top:40px;}
.main-ctr .search-not p{padding-top:10px;color:#999;}
.band-rel{margin:41px 0 0 240px;}

/*筹课修改*/
.chou-wid-modify{border:1px solid #dfdfdf;height:29px;width:538px;position:relative;}
.chou-wid-modify .p176-tiInput{width:478px;border:0;}
.chou-wid-modify .p176-count02{position:absolute;right:10px;top:0;}
.chou-wid-modify2{position:relative;}
.chou-wid-modify2 .p176-textarea{width:770px;padding:7px 5px 18px 8px;}
.chou-wid-modify2 .p176-count{position:absolute;right:22px;bottom:5px;}

.span140{width:140px;}
.input130{width:130px;}
.input430{width:430px;}
.p334{width:334px;}
.xdf_inputbox4 .event-edit-span{margin-right:0;width:144px;display:inline-block;float:inherit;margin-left:6px;}
.xdf_inputbox4 .event-edit-span input{width:100px;}

/*优选debug*/
.prefer-de li span{width:218px;height:22px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;position:relative;top:3px;}


/*开屏页*/
.spreadPage{color:#666;}
.spreadPage-left{width:377px; text-align:center;margin:20px 20px 0 0;}
.spreadPage-left p{margin-top:15px;}
.spreadPage-left .after{width:377px;height:670px;border:1px solid #f2f1f1;border-bottom:1px solid #d4d3d3;}
.spreadPage-right{width:600px;margin-top:20px;}
.spreadPage-right .xdf_footerlist{margin-left:300px;}
.spreadPage-right .xdf_footerlist .btn1{background:#cecece;}
.spreadPage-right .xdf_footerlist .btn2{background:#00ba97;}
.spreadPage-right .xdf_upload01 dl dt{font-size:12px;}
.spreadPage-right .xdf_upload01 span{margin-top:15px;}
.spreadPage-right .xdf_upload02 span{margin-top:0;margin-left:43px;}
#preview3{width:52px;height:92px;}
#preview2{width:52px;height:86px;}

/*筹课模块new*/
.chou-span-q{display:none;position: absolute;left:65px;top:-50px;width:460px;font-size:12px;text-align:left;border:1px solid #ccc;padding:4px 4px 2px 4px;}
.chou-span-qbox:hover .chou-span-q{display:block;}
.chou-span-qbox{ cursor: pointer;display:inline-block;border:1px solid #ccc;border-radius:100%;width:17px;height:17px;line-height:19px;text-align: center;}
