<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>运营工具平台</title>
	
<frameset rows="106,*" framespacing="0" border="0">
  <frame src="/operation/header?to={$to}" id="header-frame" name="headerFrame" frameborder="no" scrolling="no">
  <frameset cols="180, *" framespacing="0" border="0" id="frameBody">
    <frame src="/operation/menu" id="menu-frame" name="menuFrame" frameborder="no" scrolling="yes">
    <frame src="/operation/msg?msg=%20" id="main-frame" name="mainFrame" frameborder="no" scrolling="yes">
  </frameset>
</frameset>
   </head>

<body>
</body>
</html>