<html lang="zh"><head>
	<meta charset="UTF-8">
	<title>运营工具平台</title>
    <link rel="stylesheet" href="{$publicserver}/public/operation/css/core.css">
    <link rel="stylesheet" href="{$publicserver}/public/operation/css/p176.css">
    <link rel="stylesheet" href="{$publicserver}/public/operation/css/index.css">
    <script src="{$publicserver}/public/operation/js/common/jquery-1.11.0.min.js"></script>
    <script src="{$publicserver}/public/operation/js/common/jqPaginator.min.js"></script>
    <script src="{$publicserver}/public/operation/js/common/p176.js"></script>

    <script src="{$publicserver}/public/operation/js/layer-v2.1/layer/layer.js"></script>
    <link rel="stylesheet" href="{$publicserver}/public/operation/js/layer-v2.1/layer/skin/layer.css" id="layui_layer_skinlayercss">
    <script src="{$publicserver}/public/operation/js/laydate-v1.1/laydate/laydate.js"></script>
    <link type="text/css" rel="stylesheet" href="{$publicserver}/public/operation/js/laydate-v1.1/laydate/need/laydate.css">
    <link type="text/css" rel="stylesheet" href="{$publicserver}/public/operation/js/laydate-v1.1/laydate/skins/default/laydate.css" id="LayDateSkin">

</head>
<body>

<div class="p176-wrap-all">
    <div class="p176-mainWrap">
        <div class="p176-left">
            <div class="p176-leftmenu">
            <!-- 
                <ul class="mtop10">
                <li><a href="javascript:void(0);" title="课程" data-functionid="1">
                <i class="p176-class-icon p176-class-icon01"></i>
                <span class="collapse-hide fz18">课程</span></a>
                <ul class="p176-expand-ul" style=""> 
                <li><a href="/chouke/index"  target="mainFrame" title="筹课" class="on" data-functionid="102"   data-url="../ck/ckMain.html">
                <span class="collapse-hide">筹课</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="热报专题" class="" data-functionid="105"   data-url="../hotTopic/hotTopicList.html">
                <span class="collapse-hide">热报专题</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="优选" class="" data-functionid="106"   data-url="../preferred/preferList.html">
                <span class="collapse-hide">优选</span></a></li></ul></li>
                <li><a href="javascript:;" title="热点" data-functionid="2">
                <i class="p176-class-icon p176-class-icon04"></i>
                <span class="collapse-hide fz18">热点</span></a>
                <ul class="p176-expand-ul" style="">
                <li><a href="javascript:void(0);" target="mainFrame" title="推荐" class="" data-functionid="201"  data-url="../hotSpot/hotspot.html"><span class="collapse-hide">推荐</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="热点专题" class="" data-functionid="202"   data-url="../topic/topicList.html"><span class="collapse-hide">热点专题</span></a></li></ul></li>
                <li><a href="javascript:;" title="广告" data-functionid="3"><i class="p176-class-icon p176-class-icon05"></i><span class="collapse-hide fz18">广告</span></a><ul class="p176-expand-ul" style="">
                <li><a href="javascript:void(0);" target="mainFrame" title="广告位" class="" data-functionid="301"   data-url="../advertise/advertiseList.html"><span class="collapse-hide">广告位</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="开屏页" class="" data-functionid="302"   data-url="../publicity/publicity.html"><span class="collapse-hide">开屏页</span></a></li></ul></li>
                <li><a href="javascript:;" title="统计" data-functionid="4"><i class="p176-class-icon p176-class-icon02"></i><span class="collapse-hide fz18">统计</span></a>
                <ul class="p176-expand-ul" style="">
                <li><a href="javascript:void(0);" target="mainFrame" title="筹课统计" class="" data-functionid="401"   data-url="../total/ckTotal.html">
                <span class="collapse-hide">筹课统计</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="伙伴统计" class="" data-functionid="402"   data-url="../total/partner.html"><span class="collapse-hide">伙伴统计</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="数据统计" class="" data-functionid="403"   data-url="../total/userBehaviour.html"><span class="collapse-hide">数据统计</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="光大数据" class="" data-functionid="404"   data-url="../notCommonFun/bank.html"><span class="collapse-hide">光大数据</span></a></li></ul></li>
                <li><a href="javascript:;" title="账户权限" data-functionid="5"><i class="p176-class-icon p176-class-icon03"></i><span class="collapse-hide fz18">账户权限</span></a><ul class="p176-expand-ul" style="">
                <li><a href="javascript:void(0);" target="mainFrame" title="账户管理" class="" data-functionid="501"   data-url="../user/userList.html"><span class="collapse-hide">账户管理</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="模块管理" class="" data-functionid="502"   data-url="../module/moduleList.html"><span class="collapse-hide">模块管理</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="版本管理" class="" data-functionid="503"   data-url="../appversions/appversions.html"><span class="collapse-hide">版本管理</span></a></li>
                <li><a href="javascript:void(0);" target="mainFrame" title="新春贺词" class="" data-functionid="504"   data-url="../notCommonFun/newYearSpeech.html"><span class="collapse-hide">新春贺词</span></a></li></ul></li></ul>
             -->
            </div>
        </div>
        
    </div>
</div>

</body>
</html>