<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$head_title}</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
	<meta name="viewport" content="width=device-width">
	<link href="{$publicserver}/public/wxas/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="{$publicserver}/public/wxas/css/amaze.css" rel="stylesheet">
	<link href="{$publicserver}/public/wxas/css/font-muli.css" rel='stylesheet' type='text/css'>
	<link href="{$publicserver}/public/wxas/css/themify-icons.css" rel="stylesheet"> -->

	<link href="{$publicserver}/public/wxas/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="{$publicserver}/public/wxas/css/site.css" rel="stylesheet" type="text/css">
	

    <link href="{$publicserver}/public/wxas/css/wwei_editor.css" rel="stylesheet" type="text/css">
    <link href="{$publicserver}/public/wxas/css/jquery.jgrowl.css" rel="stylesheet" type="text/css" >
    <link href="{$publicserver}/public/wxas/js/ueditor1_4_3/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
    <link href="{$publicserver}/public/wxas/js/ueditor1_4_3/third-party/codemirror/codemirror.css" rel="stylesheet" type="text/css">
	<link href="{$publicserver}/public/wxas/css/base.css" rel="stylesheet" type="text/css" >

	<link href="{$publicserver}/public/wxas/css/colpick.css" rel="stylesheet">
	
	<script type="text/javascript" src="{$publicserver}/public/wxas/js/jquery-1.7.2.min.js"></script>
	<!-- <script type="text/javascript" src="{$publicserver}/public/wxas/js/bootstrap.min.js"></script> -->
	<script>
		document.domain="xdf.cn";
	</script>
</head>

<body>
	<div class="wrapper">
		<div class="main-panel" >
				
